---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TEST_GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"91265fec5343fc373cda2b6483110973098d8cf2b2779497d2b8c06bd665e942"
      Last-Modified:
      - Mon, 10 Jan 2022 16:10:05 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2023-03-12 12:30:54 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1671755191'
      X-Ratelimit-Used:
      - '1'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"id":420334271,"node_id":"R_kgDOGQ3Kvw","name":"<TEST_GITHUB_REPOSITORY_NAME>","full_name":"<TEST_GITHUB_REPOSITORY>","private":false,"owner":{"login":"<TEST_GITHUB_REPOSITORY_OWNER>","id":87527458,"node_id":"MDEyOk9yZ2FuaXphdGlvbjg3NTI3NDU4","avatar_url":"https://avatars.githubusercontent.com/u/87527458?v=4","gravatar_id":"","url":"https://api.github.com/users/<TEST_GITHUB_REPOSITORY_OWNER>","html_url":"https://github.com/<TEST_GITHUB_REPOSITORY_OWNER>","followers_url":"https://api.github.com/users/<TEST_GITHUB_REPOSITORY_OWNER>/followers","following_url":"https://api.github.com/users/<TEST_GITHUB_REPOSITORY_OWNER>/following{/other_user}","gists_url":"https://api.github.com/users/<TEST_GITHUB_REPOSITORY_OWNER>/gists{/gist_id}","starred_url":"https://api.github.com/users/<TEST_GITHUB_REPOSITORY_OWNER>/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/<TEST_GITHUB_REPOSITORY_OWNER>/subscriptions","organizations_url":"https://api.github.com/users/<TEST_GITHUB_REPOSITORY_OWNER>/orgs","repos_url":"https://api.github.com/users/<TEST_GITHUB_REPOSITORY_OWNER>/repos","events_url":"https://api.github.com/users/<TEST_GITHUB_REPOSITORY_OWNER>/events{/privacy}","received_events_url":"https://api.github.com/users/<TEST_GITHUB_REPOSITORY_OWNER>/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/<TEST_GITHUB_REPOSITORY>","description":null,"fork":false,"url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>","forks_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/forks","keys_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/keys{/key_id}","collaborators_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/teams","hooks_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/hooks","issue_events_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/issues/events{/number}","events_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/events","assignees_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/assignees{/user}","branches_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/branches{/branch}","tags_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/tags","blobs_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/git/refs{/sha}","trees_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/git/trees{/sha}","statuses_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/statuses/{sha}","languages_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/languages","stargazers_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/stargazers","contributors_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/contributors","subscribers_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/subscribers","subscription_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/subscription","commits_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/commits{/sha}","git_commits_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/git/commits{/sha}","comments_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/comments{/number}","issue_comment_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/issues/comments{/number}","contents_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/contents/{+path}","compare_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/compare/{base}...{head}","merges_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/merges","archive_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/downloads","issues_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/issues{/number}","pulls_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/pulls{/number}","milestones_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/milestones{/number}","notifications_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/labels{/name}","releases_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/releases{/id}","deployments_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/deployments","created_at":"2021-10-23T06:34:47Z","updated_at":"2022-01-10T16:10:05Z","pushed_at":"2022-10-03T12:31:28Z","git_url":"git://github.com/<TEST_GITHUB_REPOSITORY>.git","ssh_url":"git@github.com:<TEST_GITHUB_REPOSITORY>.git","clone_url":"https://github.com/<TEST_GITHUB_REPOSITORY>.git","svn_url":"https://github.com/<TEST_GITHUB_REPOSITORY>","homepage":null,"size":2644,"stargazers_count":0,"watchers_count":0,"language":"HTML","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"squash_merge_commit_message":"COMMIT_MESSAGES","squash_merge_commit_title":"COMMIT_OR_PR_TITLE","merge_commit_message":"PR_TITLE","merge_commit_title":"MERGE_MESSAGE","organization":{"login":"<TEST_GITHUB_REPOSITORY_OWNER>","id":87527458,"node_id":"MDEyOk9yZ2FuaXphdGlvbjg3NTI3NDU4","avatar_url":"https://avatars.githubusercontent.com/u/87527458?v=4","gravatar_id":"","url":"https://api.github.com/users/<TEST_GITHUB_REPOSITORY_OWNER>","html_url":"https://github.com/<TEST_GITHUB_REPOSITORY_OWNER>","followers_url":"https://api.github.com/users/<TEST_GITHUB_REPOSITORY_OWNER>/followers","following_url":"https://api.github.com/users/<TEST_GITHUB_REPOSITORY_OWNER>/following{/other_user}","gists_url":"https://api.github.com/users/<TEST_GITHUB_REPOSITORY_OWNER>/gists{/gist_id}","starred_url":"https://api.github.com/users/<TEST_GITHUB_REPOSITORY_OWNER>/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/<TEST_GITHUB_REPOSITORY_OWNER>/subscriptions","organizations_url":"https://api.github.com/users/<TEST_GITHUB_REPOSITORY_OWNER>/orgs","repos_url":"https://api.github.com/users/<TEST_GITHUB_REPOSITORY_OWNER>/repos","events_url":"https://api.github.com/users/<TEST_GITHUB_REPOSITORY_OWNER>/events{/privacy}","received_events_url":"https://api.github.com/users/<TEST_GITHUB_REPOSITORY_OWNER>/received_events","type":"Organization","site_admin":false},"network_count":0,"subscribers_count":5}'
  recorded_at: Thu, 22 Dec 2022 23:26:31 GMT
- request:
    method: get
    uri: https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/branches/main
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TEST_GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f45e89f4af9d1dbf8d77cff861d32fe05de76828d7df2cf2adde9efaebb62e1b"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2023-03-12 12:30:54 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1671755191'
      X-Ratelimit-Used:
      - '2'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"name":"main","commit":{"sha":"898f6c4264f5476e7f89c3084bafdf2ae987123d","node_id":"C_kwDOGQ3Kv9oAKDg5OGY2YzQyNjRmNTQ3NmU3Zjg5YzMwODRiYWZkZjJhZTk4NzEyM2Q","commit":{"author":{"name":"Osuny","email":"90196448+<TEST_GITHUB_TOKEN_OWNER>@users.noreply.github.com","date":"2022-10-03T12:31:27Z"},"committer":{"name":"Osuny","email":"90196448+<TEST_GITHUB_TOKEN_OWNER>@users.noreply.github.com","date":"2022-10-03T12:31:27Z"},"message":"[University::Organization]
        Destroy LPR","tree":{"sha":"f8287b28b57719d8b1be4539cdd3d1739cf01fd2","url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/git/trees/f8287b28b57719d8b1be4539cdd3d1739cf01fd2"},"url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/git/commits/898f6c4264f5476e7f89c3084bafdf2ae987123d","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/commits/898f6c4264f5476e7f89c3084bafdf2ae987123d","html_url":"https://github.com/<TEST_GITHUB_REPOSITORY>/commit/898f6c4264f5476e7f89c3084bafdf2ae987123d","comments_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/commits/898f6c4264f5476e7f89c3084bafdf2ae987123d/comments","author":{"login":"<TEST_GITHUB_TOKEN_OWNER>","id":90196448,"node_id":"MDQ6VXNlcjkwMTk2NDQ4","avatar_url":"https://avatars.githubusercontent.com/u/9[...]
- request:
    method: get
    uri: https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/git/trees/898f6c4264f5476e7f89c3084bafdf2ae987123d?recursive=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TEST_GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a07147c47ae06b2db5cc9965519909c76733ef38e9e72370fb69140f3565225f"
      Last-Modified:
      - Mon, 10 Jan 2022 16:10:05 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2023-03-12 12:30:54 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1671755191'
      X-Ratelimit-Used:
      - '3'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"sha":"898f6c4264f5476e7f89c3084bafdf2ae987123d","url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/git/trees/898f6c4264f5476e7f89c3084bafdf2ae987123d","tree":[{"path":"_articles","mode":"040000","type":"tree","sha":"bfe2ee494f61c4e6ab421a188f0b6326c3503452","url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/git/trees/bfe2ee494f61c4e6ab421a188f0b6326c3503452"},{"path":"_articles/852af671-5552-447a-bd3e-b4fe9c379dee.html","mode":"100644","type":"blob","sha":"f92ccc5866074f1162b1fd8ec78b845428976fbe","size":73839,"url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/git/blobs/f92ccc5866074f1162b1fd8ec78b845428976fbe"},{"path":"_authors","mode":"040000","type":"tre[...]
