---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/contents/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TEST_GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7adeb339596749cf79d58b6198373cc9fae745c9"
      Last-Modified:
      - Mon, 10 Jan 2022 16:10:05 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2022-03-02 10:41:25 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4981'
      X-Ratelimit-Reset:
      - '1645638786'
      X-Ratelimit-Used:
      - '19'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"_articles","path":"_articles","sha":"bfe2ee494f61c4e6ab421a188f0b6326c3503452","size":0,"url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/contents/_articles?ref=main","html_url":"https://github.com/<TEST_GITHUB_REPOSITORY>/tree/main/_articles","git_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/git/trees/bfe2ee494f61c4e6ab421a188f0b6326c3503452","download_url":null,"type":"dir","_links":{"self":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/contents/_articles?ref=main","git":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/git/trees/bfe2ee494f61c4e6ab421a188f0b6326c3503452","html":"https://github.com/<TEST_GITHUB_REPOSITORY>/tree/main/_articles"}},{"name":"_authors","path":"_authors","sha":"571f08a27b5d85e517246f5e0ab7b2e8f3eeb1bb","size":0,"url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/contents/_authors?ref=main","html_url":"https://github.com/<TEST_GITHUB_REPOSITORY>/tree/main/_authors","git_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/git/trees/571f08a27b5d85e517246f5e0ab7b2e8f3eeb1bb","download_url":null,"type":"dir","_links":{"self":"http[...]
- request:
    method: get
    uri: https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/contents/content/posts/2010/2010-11-28-test.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TEST_GITHUB_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2022-03-02 10:41:25 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4980'
      X-Ratelimit-Reset:
      - '1645638786'
      X-Ratelimit-Used:
      - '20'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/reference/repos#get-repository-content"}'
  recorded_at: Wed, 23 Feb 2022 17:12:08 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/contents/content/posts/2010/2010-11-28-test.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TEST_GITHUB_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2022-03-02 10:41:25 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4978'
      X-Ratelimit-Reset:
      - '1645638786'
      X-Ratelimit-Used:
      - '22'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/reference/repos#get-repository-content"}'
  recorded_at: Wed, 23 Feb 2022 17:12:09 GMT
recorded_with: VCR 6.0.0
