---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization-REDACTED>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "{\r\n  \"message\": \"Bad credentials\",\r\n  \"documentation_url\":
        \"https://docs.github.com/rest\",\r\n  \"status\": \"401\"\r\n}"
  recorded_at: Fri, 10 Jul 2026 16:37:21 GMT
recorded_with: VCR 6.4.0
