---
http_interactions:
- request:
    method: get
    uri: "<TEST_GITLAB_ENDPOINT>/projects/<TEST_GITLAB_REPOSITORY_ENCODED>/repository/tree?per_page=100&recursive=true&ref=main"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "<TEST_GITLAB_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6fe1c40d1fe40fbc94ec57874d150562"
      Link:
      - <<TEST_GITLAB_ENDPOINT>/projects/<TEST_GITLAB_REPOSITORY_ENCODED>/repository/tree?id=<TEST_GITLAB_REPOSITORY_ENCODED>&page=1&pagination=legacy&per_page=100&recursive=true&ref=main>;
        rel="first", <<TEST_GITLAB_ENDPOINT>/projects/<TEST_GITLAB_REPOSITORY_ENCODED>/repository/tree?id=<TEST_GITLAB_REPOSITORY_ENCODED>&page=1&pagination=legacy&per_page=100&recursive=true&ref=main>;
        rel="last"
      X-Gitlab-Meta:
      - '{"correlation_id":"01KX75Q8A2FQP155YGT30X3AEM","version":"1"}'
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      X-Total:
      - '2'
      X-Total-Pages:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"6583ac8501b3d8575c6c98406838b48e21ffb06f","name":"README.md","type":"blob","path":"README.md","mode":"100644"},{"id":"6b584e8ece562ebffc15d38808cd6b98fc3d97ea","name":"test.txt","type":"blob","path":"test.txt","mode":"100644"}]'
  recorded_at: Fri, 10 Jul 2026 23:27:35 GMT
- request:
    method: post
    uri: "<TEST_GITLAB_ENDPOINT>/projects/<TEST_GITLAB_REPOSITORY_ENCODED>/repository/commits"
    body:
      encoding: UTF-8
      string: branch=main&commit_message=Updating%20test.txt%20file&actions%5B%5D%5Baction%5D=update&actions%5B%5D%5Bfile_path%5D=test.txt&actions%5B%5D%5Bcontent%5D=new%20content
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "<TEST_GITLAB_TOKEN>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ee85e0c197fc5ce6d1ba2ab15cdc6de9"
      X-Gitlab-Meta:
      - '{"correlation_id":"01KX75Q8CC17TREJ97EF0NS6CZ","version":"1"}'
    body:
      encoding: UTF-8
      string: '{"id":"761f1fb9f316adde0a3376f93dbfa08bf8c99244","short_id":"761f1fb9","created_at":"2026-07-10T23:27:35.000+00:00","parent_ids":["16435b814be726137592d55b23272093172338bf"],"title":"Updating
        test.txt file","message":"Updating test.txt file","author_name":"osuny-gitlab-provider-test","author_email":"project_58_bot_075042dbbb84c673fc5d8c27705543ba@noreply.src.opencomp.fr","authored_date":"2026-07-10T23:27:35.000+00:00","committer_name":"osuny-gitlab-provider-test","committer_email":"project_58_bot_075042dbbb84c673fc5d8c27705543ba@noreply.src.opencomp.fr","committed_date":"2026-07-10T23:27:35.000+00:00","trailers":{},"extended_trailers":{},"web_url":"https://src.opencomp.fr/<TEST_GITLAB_REPOSITORY>/-/commit/761f1fb9f316adde0a3376f93dbfa08bf8c99244","stats":{"additions":1,"deletions":1,"total":2},"status":null,"project_id":58,"last_pipeline":null}'
  recorded_at: Fri, 10 Jul 2026 23:27:36 GMT
recorded_with: VCR 6.4.0
