---
http_interactions:
- request:
    method: post
    uri: https://gitlab.com/api/v4/projects/<TEST_GITLAB_REPOSITORY>/repository/commits
    body:
      encoding: UTF-8
      string: branch=main&commit_message=Creating%20test.txt%20file&actions%5B%5D%5Baction%5D=create&actions%5B%5D%5Bfile_path%5D=test.txt&actions%5B%5D%5Bcontent%5D=content
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer <TEST_GITLAB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b7b38c07395e2bc0401ada2f7274d6b2"
      Gitlab-Lb:
      - fe-19-lb-gprd
      Gitlab-Sv:
      - api-gke-us-east1-c
    body:
      encoding: UTF-8
      string: '{"id":"530b402f2c894e67af77562d98a3211511df801e","short_id":"530b402f","created_at":"2022-02-21T17:42:18.000+00:00","parent_ids":["352dbbb872f93b984c0126a1dec492f6a1ac16fa"],"title":"Creating
        test.txt file","message":"Creating test.txt file","author_name":"Arnaud Levy","author_email":"contact@arnaudlevy.com","authored_date":"2022-02-21T17:42:18.000+00:00","committer_name":"Arnaud
        Levy","committer_email":"contact@arnaudlevy.com","committed_date":"2022-02-21T17:42:18.000+00:00","trailers":{},"web_url":"https://gitlab.com/noesya/osuny/-/commit/530b402f2c894e67af77562d98a3211511df801e","stats":{"additions":1,"deletions":0,"total":1},"status":null,"project_id":<TEST_GITLAB_REPOSITORY>,"last_pipeline":null}'
  recorded_at: Mon, 21 Feb 2022 17:42:19 GMT
recorded_with: VCR 6.0.0
