---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TEST_GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"91265fec5343fc373cda2b6483110973098d8cf2b2779497d2b8c06bd665e942"
      Last-Modified:
      - Mon, 10 Jan 2022 16:10:05 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2022-03-02 10:41:25 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4947'
      X-Ratelimit-Reset:
      - '1645466064'
      X-Ratelimit-Used:
      - '53'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"id":420334271,"node_id":"R_kgDOGQ3Kvw","name":"bordeauxmontaigne-test","full_name":"<TEST_GITHUB_REPOSITORY>","private":false,"owner":{"login":"noesya","id":87527458,"node_id":"MDEyOk9yZ2FuaXphdGlvbjg3NTI3NDU4","avatar_url":"https://avatars.githubusercontent.com/u/87527458?v=4","gravatar_id":"","url":"https://api.github.com/users/noesya","html_url":"https://github.com/noesya","followers_url":"https://api.github.com/users/noesya/followers","following_url":"https://api.github.com/users/noesya/following{/other_user}","gists_url":"https://api.github.com/users/noesya/gists{/gist_id}","starred_url":"https://api.github.com/users/noesya/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/noesya/subscriptions","organizations_url":"https://api.github.com/users/noesya/orgs","repos_url":"https://api.github.com/users/noesya/repos","events_url":"https://api.github.com/users/noesya/events{/privacy}","received_events_url":"https://api.github.com/users/noesya/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/<TEST_GITHUB_REPOSITORY>","description":null,"fork":false,"url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>","forks_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/forks","keys_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/keys{/key_id}","collaborators_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/teams","hooks_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/hooks","issue_events_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/issues/events{/number}","events_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/events","assignees_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/assignees{/user}","branches_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/branches{/branch}","tags_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/tags","blobs_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/git/refs{/sha}","trees_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/git/trees{/sha}","statuses_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/statuses/{sha}","languages_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/languages","stargazers_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/stargazers","contributors_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/contributors","subscribers_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/subscribers","subscription_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/subscription","commits_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/commits{/sha}","git_commits_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/git/commits{/sha}","comments_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/comments{/number}","issue_comment_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/issues/comments{/number}","contents_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/contents/{+path}","compare_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/compare/{base}...{head}","merges_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/merges","archive_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/downloads","issues_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/issues{/number}","pulls_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/pulls{/number}","milestones_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/milestones{/number}","notifications_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/labels{/name}","releases_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/releases{/id}","deployments_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/deployments","created_at":"2021-10-23T06:34:47Z","updated_at":"2022-01-10T16:10:05Z","pushed_at":"2022-02-21T17:08:17Z","git_url":"git://github.com/<TEST_GITHUB_REPOSITORY>.git","ssh_url":"git@github.com:<TEST_GITHUB_REPOSITORY>.git","clone_url":"https://github.com/<TEST_GITHUB_REPOSITORY>.git","svn_url":"https://github.com/<TEST_GITHUB_REPOSITORY>","homepage":null,"size":2648,"stargazers_count":0,"watchers_count":0,"language":"HTML","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"topics":[],"visibility":"public","forks":0,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"organization":{"login":"noesya","id":87527458,"node_id":"MDEyOk9yZ2FuaXphdGlvbjg3NTI3NDU4","avatar_url":"https://avatars.githubusercontent.com/u/87527458?v=4","gravatar_id":"","url":"https://api.github.com/users/noesya","html_url":"https://github.com/noesya","followers_url":"https://api.github.com/users/noesya/followers","following_url":"https://api.github.com/users/noesya/following{/other_user}","gists_url":"https://api.github.com/users/noesya/gists{/gist_id}","starred_url":"https://api.github.com/users/noesya/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/noesya/subscriptions","organizations_url":"https://api.github.com/users/noesya/orgs","repos_url":"https://api.github.com/users/noesya/repos","events_url":"https://api.github.com/users/noesya/events{/privacy}","received_events_url":"https://api.github.com/users/noesya/received_events","type":"Organization","site_admin":false},"network_count":0,"subscribers_count":5}'
  recorded_at: Mon, 21 Feb 2022 17:10:21 GMT
- request:
    method: get
    uri: https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/branches/main
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TEST_GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"16949917031a4aebcbd302597a43e76786462375657618dc29e71966c4f43fb3"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2022-03-02 10:41:25 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4946'
      X-Ratelimit-Reset:
      - '1645466064'
      X-Ratelimit-Used:
      - '54'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"name":"main","commit":{"sha":"967e075b8f3757192e7502f3a019c4a06d19a280","node_id":"C_kwDOGQ3Kv9oAKDk2N2UwNzViOGYzNzU3MTkyZTc1MDJmM2EwMTljNGEwNmQxOWEyODA","commit":{"author":{"name":"Osuny","email":"90196448+osuny-bot@users.noreply.github.com","date":"2022-02-21T17:08:16Z"},"committer":{"name":"Osuny","email":"90196448+osuny-bot@users.noreply.github.com","date":"2022-02-21T17:08:16Z"},"message":"Creating
        test.txt file","tree":{"sha":"33e9ead4d939ed58882f8dbc107a9952452c313f","url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/git/trees/33e9ead4d939ed58882f8dbc107a9952452c313f"},"url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/git/commits/967e075b8f3757192e7502f3a019c4a06d19a280","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/commits/967e075b8f3757192e7502f3a019c4a06d19a280","html_url":"https://github.com/<TEST_GITHUB_REPOSITORY>/commit/967e075b8f3757192e7502f3a019c4a06d19a280","comments_url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/commits/967e075b8f3757192e7502f3a019c4a06d19a280/comments","author":{"login":"osuny-bot","id":90196448,"node_id":"MDQ6VXNlcjkwMTk2NDQ4","avatar_url":"https://avatars.githubusercontent.com/u/90196448?v=4","gr[...]
- request:
    method: get
    uri: https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/git/trees/967e075b8f3757192e7502f3a019c4a06d19a280?recursive=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TEST_GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8ff9745e71dd51fb30a4f9a27bb68395f51643849e9bc0a0b01974b5b8b04481"
      Last-Modified:
      - Mon, 10 Jan 2022 16:10:05 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2022-03-02 10:41:25 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4945'
      X-Ratelimit-Reset:
      - '1645466064'
      X-Ratelimit-Used:
      - '55'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"sha":"967e075b8f3757192e7502f3a019c4a06d19a280","url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/git/trees/967e075b8f3757192e7502f3a019c4a06d19a280","tree":[{"path":"_articles","mode":"040000","type":"tree","sha":"bfe2ee494f61c4e6ab421a188f0b6326c3503452","url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/git/trees/bfe2ee494f61c4e6ab421a188f0b6326c3503452"},{"path":"_articles/852af671-5552-447a-bd3e-b4fe9c379dee.html","mode":"100644","type":"blob","sha":"f92ccc5866074f1162b1fd8ec78b845428976fbe","size":73839,"url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/git/blobs/f92ccc5866074f1162b1fd8ec78b845428976fbe"},{"path":"_authors","mode":"040000","type":"tre[...]
- request:
    method: post
    uri: https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/git/trees
    body:
      encoding: UTF-8
      string: '{"base_tree":"967e075b8f3757192e7502f3a019c4a06d19a280","tree":[{"path":"test.txt","mode":"100644","type":"blob","sha":null},{"path":"test.txt","mode":"100644","type":"blob","content":"new
        content"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TEST_GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"dbd4a257d15ae8dce050e3e8dc13dea1a2811c71ea0298c7b7f91eb7c5581d44"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2022-03-02 10:41:25 UTC
      Location:
      - https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/git/trees/3c16333018949ca32e2656c8aceb47eb7d53a4bd
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4944'
      X-Ratelimit-Reset:
      - '1645466064'
      X-Ratelimit-Used:
      - '56'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"sha":"3c16333018949ca32e2656c8aceb47eb7d53a4bd","url":"https://api.github.com/repos/<T[...]
- request:
    method: post
    uri: https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/git/commits
    body:
      encoding: UTF-8
      string: '{"message":"Updating test.txt file","tree":"3c16333018949ca32e2656c8aceb47eb7d53a4bd","parents":["967e075b8f3757192e7502f3a019c4a06d19a280"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TEST_GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"05b4ca4ff7c1e533f5e7c1e5be91b6119eb061e6c3711a635f23507f01c4ae74"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expi[...]
- request:
    method: patch
    uri: https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/git/refs/heads/main
    body:
      encoding: UTF-8
      string: '{"sha":"523c7011c645161d5b828f60e2f7a8c1ce21b40e","force":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <TEST_GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f25ca3f93adb59328840a63be5db786cda45649b9223450b63f507cb630d31e7"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2022-03-02 10:41:25 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4942'
      X-Ratelimit-Reset:
      - '1645466064'
      X-Ratelimit-Used:
      - '58'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"ref":"refs/heads/main","node_id":"REF_kwDOGQ3Kv69yZWZzL2hlYWRzL21haW4","url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/git/refs/heads/main","object":{"sha":"523c7011c645161d5b828f60e2f7a8c1ce21b40e","type":"commit","url":"https://api.github.com/repos/<TEST_GITHUB_REPOSITORY>/git/commits/523c7011c645161d5b828f60e2f7a8c1ce21b40e"}}'
  recorded_at: Mon, 21 Feb 2022 17:10:24 GMT
recorded_with: VCR 6.0.0
