---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/<TEST_GITLAB_REPOSITORY>/repository/files/new_test.txt?ref=main
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer <TEST_GITLAB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"31d729b0e2a77470ec5738c0c38acd12"
      X-Gitlab-Blob-Id:
      - 47d2739ba2c34690248c8f91b84bb54e8936899a
      X-Gitlab-Commit-Id:
      - 5a5bbe5f19533c7eaaeff596c1d866ed9f1b516a
      X-Gitlab-Content-Sha256:
      - fe32608c9ef5b6cf7e3f946480253ff76f24f4ec0678f3d0f07f9844cbff9601
      X-Gitlab-Encoding:
      - base64
      X-Gitlab-File-Name:
      - new_test.txt
      X-Gitlab-File-Path:
      - new_test.txt
      X-Gitlab-Last-Commit-Id:
      - 5a5bbe5f19533c7eaaeff596c1d866ed9f1b516a
      X-Gitlab-Ref:
      - main
      X-Gitlab-Size:
      - '11'
      Gitlab-Lb:
      - fe-27-lb-gprd
      Gitlab-Sv:
      - api-gke-us-east1-b
    body:
      encoding: ASCII-8BIT
      string: '{"file_name":"new_test.txt","file_path":"new_test.txt","size":11,"encoding":"base64","content_sha256":"fe32608c9ef5b6cf7e3f946480253ff76f24f4ec0678f3d0f07f9844cbff9601","ref":"main","blob_id":"47d2739ba2c34690248c8f91b84bb54e8936899a","commit_id":"5a5bbe5f19533c7eaaeff596c1d866ed9f1b516a","last_commit_id":"5a5bbe5f19533c7eaaeff596c1d866ed9f1b516a","content":"bmV3IGNvbnRlbnQ="}'
  recorded_at: Mon, 21 Feb 2022 17:44:59 GMT
- request:
    method: post
    uri: https://gitlab.com/api/v4/projects/<TEST_GITLAB_REPOSITORY>/repository/commits
    body:
      encoding: UTF-8
      string: branch=main&commit_message=Destroying%20new_test.txt%20file&actions%5B%5D%5Baction%5D=delete&actions%5B%5D%5Bfile_path%5D=new_test.txt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer <TEST_GITLAB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fc2b4a9db175dca1dec64814abffd823"
      Gitlab-Lb:
      - fe-15-lb-gprd
      Gitlab-Sv:
      - api-gke-us-east1-b
    body:
      encoding: UTF-8
      string: '{"id":"0c9f41694e42f416047ff5828ad982a0fd038356","short_id":"0c9f4169","created_at":"2022-02-21T17:44:59.000+00:00","parent_ids":["5a5bbe5f19533c7eaaeff596c1d866ed9f1b516a"],"title":"Destroying
        new_test.txt file","message":"Destroying new_test.txt file","author_name":"Arnaud
        Levy","author_email":"contact@arnaudlevy.com","authored_date":"2022-02-21T17:44:59.000+00:00","committer_name":"Arnaud
        Levy","committer_email":"contact@arnaudlevy.com","committed_date":"2022-02-21T17:44:59.000+00:00","trailers":{},"web_url":"https://gitlab.com/noesya/osuny/-/commit/0c9f41694e42f416047ff5828ad982a0fd038356","stats":{"additions":0,"deletions":1,"total":1},"status":null,"project_id":<TEST_GITLAB_REPOSITORY>,"last_pipeline":null}'
  recorded_at: Mon, 21 Feb 2022 17:44:59 GMT
recorded_with: VCR 6.0.0
