---
http_interactions:
- request:
    method: get
    uri: "<TEST_GITLAB_ENDPOINT>/projects/<TEST_GITLAB_REPOSITORY_ENCODED>/repository/tree?per_page=100&recursive=true&ref=main"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "<TEST_GITLAB_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"78a9d70fc6a415adee3a221fe82c0eb6"
      Link:
      - <<TEST_GITLAB_ENDPOINT>/projects/<TEST_GITLAB_REPOSITORY_ENCODED>/repository/tree?id=<TEST_GITLAB_REPOSITORY_ENCODED>&page=1&pagination=legacy&per_page=100&recursive=true&ref=main>;
        rel="first", <<TEST_GITLAB_ENDPOINT>/projects/<TEST_GITLAB_REPOSITORY_ENCODED>/repository/tree?id=<TEST_GITLAB_REPOSITORY_ENCODED>&page=1&pagination=legacy&per_page=100&recursive=true&ref=main>;
        rel="last"
      X-Gitlab-Meta:
      - '{"correlation_id":"01KX75QGH7PCB4T7KM0H4W40EX","version":"1"}'
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      X-Total:
      - '2'
      X-Total-Pages:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"6583ac8501b3d8575c6c98406838b48e21ffb06f","name":"README.md","type":"blob","path":"README.md","mode":"100644"},{"id":"47d2739ba2c34690248c8f91b84bb54e8936899a","name":"test.txt","type":"blob","path":"test.txt","mode":"100644"}]'
  recorded_at: Fri, 10 Jul 2026 23:27:44 GMT
- request:
    method: post
    uri: "<TEST_GITLAB_ENDPOINT>/projects/<TEST_GITLAB_REPOSITORY_ENCODED>/repository/commits"
    body:
      encoding: UTF-8
      string: branch=main&commit_message=Moving%20test.txt%20file&actions%5B%5D%5Baction%5D=move&actions%5B%5D%5Bfile_path%5D=new_test.txt&actions%5B%5D%5Bprevious_path%5D=test.txt&actions%5B%5D%5Baction%5D=update&actions%5B%5D%5Bfile_path%5D=new_test.txt&actions%5B%5D%5Bcontent%5D=new%20content
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "<TEST_GITLAB_TOKEN>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6b077e2c0edfa7b4c700030a8fa80b95"
      X-Gitlab-Meta:
      - '{"correlation_id":"01KX75QGKZ0PBQGY0RKR7QK4JH","version":"1"}'
    body:
      encoding: UTF-8
      string: '{"id":"c5beaf597aa97614eb42400643d9b605186ff59c","short_id":"c5beaf59","created_at":"2026-07-10T23:27:44.000+00:00","parent_ids":["761f1fb9f316adde0a3376f93dbfa08bf8c99244"],"title":"Moving
        test.txt file","message":"Moving test.txt file","author_name":"osuny-gitlab-provider-test","author_email":"project_58_bot_075042dbbb84c673fc5d8c27705543ba@noreply.src.opencomp.fr","authored_date":"2026-07-10T23:27:44.000+00:00","committer_name":"osuny-gitlab-provider-test","committer_email":"project_58_bot_075042dbbb84c673fc5d8c27705543ba@noreply.src.opencomp.fr","committed_date":"2026-07-10T23:27:44.000+00:00","trailers":{},"extended_trailers":{},"web_url":"https://src.opencomp.fr/<TEST_GITLAB_REPOSITORY>/-/commit/c5beaf597aa97614eb42400643d9b605186ff59c","stats":{"additions":0,"deletions":0,"total":0},"status":null,"project_id":58,"last_pipeline":null}'
  recorded_at: Fri, 10 Jul 2026 23:27:44 GMT
recorded_with: VCR 6.4.0
