---
http_interactions:
- request:
    method: get
    uri: "<TEST_GITLAB_ENDPOINT>/projects/<TEST_GITLAB_REPOSITORY_ENCODED>/repository/tree?per_page=100&recursive=true&ref=main"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "<TEST_GITLAB_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3402e45b34532f4422d6b3bf5e003a43"
      Link:
      - <<TEST_GITLAB_ENDPOINT>/projects/<TEST_GITLAB_REPOSITORY_ENCODED>/repository/tree?id=<TEST_GITLAB_REPOSITORY_ENCODED>&page=1&pagination=legacy&per_page=100&recursive=true&ref=main>;
        rel="first", <<TEST_GITLAB_ENDPOINT>/projects/<TEST_GITLAB_REPOSITORY_ENCODED>/repository/tree?id=<TEST_GITLAB_REPOSITORY_ENCODED>&page=1&pagination=legacy&per_page=100&recursive=true&ref=main>;
        rel="last"
      X-Gitlab-Meta:
      - '{"correlation_id":"01KX75QWDZPEZDRM4XTZSX82VG","version":"1"}'
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      X-Total:
      - '2'
      X-Total-Pages:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"6583ac8501b3d8575c6c98406838b48e21ffb06f","name":"README.md","type":"blob","path":"README.md","mode":"100644"},{"id":"47d2739ba2c34690248c8f91b84bb54e8936899a","name":"new_test.txt","type":"blob","path":"new_test.txt","mode":"100644"}]'
  recorded_at: Fri, 10 Jul 2026 23:27:56 GMT
- request:
    method: post
    uri: "<TEST_GITLAB_ENDPOINT>/projects/<TEST_GITLAB_REPOSITORY_ENCODED>/repository/commits"
    body:
      encoding: UTF-8
      string: branch=main&commit_message=Destroying%20new_test.txt%20file&actions%5B%5D%5Baction%5D=delete&actions%5B%5D%5Bfile_path%5D=new_test.txt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "<TEST_GITLAB_TOKEN>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f263db21eb065eca05f39ed35c7f826e"
      X-Gitlab-Meta:
      - '{"correlation_id":"01KX75QWG6DXR7S476M7K679P4","version":"1"}'
    body:
      encoding: UTF-8
      string: '{"id":"98138f2d9cbc8a210359b87d17ab8ddc366e0306","short_id":"98138f2d","created_at":"2026-07-10T23:27:56.000+00:00","parent_ids":["c5beaf597aa97614eb42400643d9b605186ff59c"],"title":"Destroying
        new_test.txt file","message":"Destroying new_test.txt file","author_name":"osuny-gitlab-provider-test","author_email":"project_58_bot_075042dbbb84c673fc5d8c27705543ba@noreply.src.opencomp.fr","authored_date":"2026-07-10T23:27:56.000+00:00","committer_name":"osuny-gitlab-provider-test","committer_email":"project_58_bot_075042dbbb84c673fc5d8c27705543ba@noreply.src.opencomp.fr","committed_date":"2026-07-10T23:27:56.000+00:00","trailers":{},"extended_trailers":{},"web_url":"https://src.opencomp.fr/<TEST_GITLAB_REPOSITORY>/-/commit/98138f2d9cbc8a210359b87d17ab8ddc366e0306","stats":{"additions":0,"deletions":1,"total":1},"status":null,"project_id":58,"last_pipeline":null}'
  recorded_at: Fri, 10 Jul 2026 23:27:56 GMT
recorded_with: VCR 6.4.0
