---
http_interactions:
- request:
    method: post
    uri: "<TEST_GITLAB_ENDPOINT>/projects/<TEST_GITLAB_REPOSITORY_ENCODED>/repository/commits"
    body:
      encoding: UTF-8
      string: branch=main&commit_message=Creating%20test.txt%20file&actions%5B%5D%5Baction%5D=create&actions%5B%5D%5Bfile_path%5D=test.txt&actions%5B%5D%5Bcontent%5D=content
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "<TEST_GITLAB_TOKEN>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8813a2ba6afef4e3d328266714114727"
      X-Gitlab-Meta:
      - '{"correlation_id":"01KX75Q05HXN7G1NDAJ5ZPR233","version":"1"}'
    body:
      encoding: UTF-8
      string: '{"id":"16435b814be726137592d55b23272093172338bf","short_id":"16435b81","created_at":"2026-07-10T23:27:27.000+00:00","parent_ids":["d0370ddc140c03b3ae84fdbfd31e581cb3073e19"],"title":"Creating
        test.txt file","message":"Creating test.txt file","author_name":"osuny-gitlab-provider-test","author_email":"project_58_bot_075042dbbb84c673fc5d8c27705543ba@noreply.src.opencomp.fr","authored_date":"2026-07-10T23:27:27.000+00:00","committer_name":"osuny-gitlab-provider-test","committer_email":"project_58_bot_075042dbbb84c673fc5d8c27705543ba@noreply.src.opencomp.fr","committed_date":"2026-07-10T23:27:27.000+00:00","trailers":{},"extended_trailers":{},"web_url":"https://src.opencomp.fr/<TEST_GITLAB_REPOSITORY>/-/commit/16435b814be726137592d55b23272093172338bf","stats":{"additions":1,"deletions":0,"total":1},"status":null,"project_id":58,"last_pipeline":null}'
  recorded_at: Fri, 10 Jul 2026 23:27:27 GMT
recorded_with: VCR 6.4.0
