---
http_interactions:
- request:
    method: get
    uri: "<TEST_FORGEJO_ENDPOINT>/version"
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"version":"15.0.3+gitea-1.22.0"}

        '
  recorded_at: Fri, 10 Jul 2026 16:42:25 GMT
- request:
    method: get
    uri: "<TEST_FORGEJO_ENDPOINT>/repos/<TEST_FORGEJO_REPOSITORY>"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<Authorization-REDACTED>"
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"token is required","url":"https://git.nnx.com/api/swagger"}

        '
  recorded_at: Fri, 10 Jul 2026 16:42:25 GMT
recorded_with: VCR 6.4.0
