---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/<TEST_GITLAB_REPOSITORY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - wrong access token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Gitlab-Meta:
      - '{"correlation_id":"18f903f59db15ce5c95b2eba90052e47","version":"1"}'
      Ratelimit-Observed:
      - '1'
      Ratelimit-Remaining:
      - '1999'
      Ratelimit-Reset:
      - '1694167746'
      Ratelimit-Resettime:
      - Fri, 08 Sep 2023 10:09:06 GMT
      Ratelimit-Limit:
      - '2000'
      Gitlab-Lb:
      - fe-26-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: UTF-8
      string: '{"message":"401 Unauthorized"}'
  recorded_at: Fri, 08 Sep 2023 10:08:06 GMT
recorded_with: VCR 6.2.0
