<div class="card">
  <div class="card-body">
    <div style= "max-width: 200px;" class="me-3">
      <%= block_component_preview :image,
          label: t('admin.communication.blocks.components.image.input.label'),
          remove: t('admin.communication.blocks.components.image.input.remove') %><br>
      <%= block_component_preview :alt,
          label: t('admin.communication.blocks.components.image.alt.label'),
          placeholder: t('admin.communication.blocks.components.image.alt.placeholder') %>
    </div>
    <hr>

    <% @block.template.elements.each do |element| %>
      <a  href="<%= block_component_preview :url, template: element %>" class="btn btn-primary"
        <% if element.target_blank === true %>
          target="_blank"
        <% end %>
        rel="noopener">
        <%= block_component_preview :title, template: element %>
      </a>
    <% end %>
  </div>
</div>
