<%= block_component_preview :description %>
<% @block.template.elements.each do |element|
      person = element.person
      next if person.nil?
      %>
  <article class="card">
    <div class="card-body">
      <% if person.best_picture.attached? %>
        <div style="max-width: 80px" class="float-end">
          <%= kamifusen_tag person.best_picture,
                            class: 'img-fluid rounded-circle' %>
        </div>
      <% end %>
      <h3 class="card-title h5"><%= link_to person, [:admin, person] %></h3>
      <p class="mb-0"><%= element.role %></p>
    </div>
  </article>
<% end %>
