<% content_for :title, Features::Education::Qualiopi.model_name.human %>

<% @criterions.each do |criterion| %>
  <div class="row">
    <div class="col-md-5">
      <h2><%= link_to criterion, [:admin, criterion] %></h2>
      <p class="lead"><%= criterion.name %></p>
    </div>
    <div class="offset-md-1 col-md-6">
      <% criterion.indicators.each do |indicator| %>
        <h3 class="h4"><%= link_to indicator, [:admin, indicator] %></h3>
        <p><%= indicator.name %></p>
      <% end %>
    </div>
  </div>
  <hr class="my-5">
<% end %>
