<% content_for :title, @indicator %>

<div class="row">
  <div class="col-md-5">
    <p class="lead mt-5"><%= @indicator.name %></p>
  </div>
  <div class="offset-md-1 col-md-6">
    <% [:level_expected, :proof, :requirement, :non_conformity, :glossary].each do |attribute| %>
      <%
      name = Features::Education::Qualiopi::Indicator.human_attribute_name(attribute)
      value = @indicator.send attribute
      next if value.blank?
      %>
      <h2 class="h4 mt-5"><%= name %></h2>
      <%= simple_format value %>
    <% end %>
  </div>
</div>

<% begin %>
<%= render "admin/features/education/qualiopi/evaluations/criterion_#{@indicator.number}" %>
<% rescue %>
<% end %>
