<% content_for :title, @indicator %>

<p class="lead"><%= @indicator.name %></p>

<div class="row">
  <% [:level_expected, :proof, :requirement, :non_conformity, :glossary].each do |attribute| %>
    <%
    name = Features::Education::Qualiopi::Indicator.human_attribute_name(attribute)
    value = @indicator.send attribute
    next if value.blank?
    %>
    <div class="col-md-4">
      <h2 class="h4 mt-4"><%= name %></h2>
      <%= simple_format value %>
    </div>
  <% end %>
</div>

<% begin %>
<%= render "admin/features/education/qualiopi/evaluations/criterion_#{@indicator.number}" %>
<% rescue %>
<% end %>
