<% @block.template.elements.each do |element| %>
  <p class="lead mb-0">
    <b>
      <%= block_component_preview :title, template: element %>
    </b>
  </p>
  <%= block_component_preview :description, template: element %>
<% end %>
