<div class="description">
  <%= block_component_preview :description %>
</div>
<div class="definitions">
  <% @block.template.elements.each do |element| %>
    <details itemscope itemtype="https://schema.org/DefinedTerm">
      <summary itemprop="name">
        <%= block_component_preview :title, template: element %>
      </summary>
      <p itemprop="description"><%= block_component_preview :description, template: element %></p>
    </details>
  <% end %>
</div>