<div class="<%= block_html_class(block) %>">
  <div class="container">
    <div class="block-content">
      <%= render 'admin/communication/blocks/partials/top', block: block %>
      <div class="definitions">
        <% block.template.elements.each do |element| %>
          <details itemscope itemtype="https://schema.org/DefinedTerm">
            <summary itemprop="name">
              <%= block_component_show block, :title, template: element %>
            </summary>
            <p itemprop="description"><%= block_component_show block, :description, template: element %></p>
          </details>
        <% end %>
    </div>
  </div>
</div>
