<% favorites = current_user.favorites.except_websites %>
<% if favorites.any? %>
  <h2 class="category"><%= User::Favorite.model_name.human(count: 2) %></h2>
  <div class="row">
    <% favorites.each do |favorite|
        about = favorite.about
        next unless can?(:read, about) %>
      <div class="col-md-6 col-lg-3 d-flex">
        <%= osuny_panel about.to_s_in(current_language) do %>
          <p class="small mt-n2 mb-1"><%= about.class.model_name.human %></p>
          <%= link_to t('show'),
                      [:admin, about],
                      class: 'action stretched-link' %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>