<% content_for :title, @document %>

<p><%= @document.docid %></p>

<div><%= sanitize @document.ref %></div>

<% content_for :action_bar_right do %>
  <%= link_to t('show'), @document.url, class: button_classes, target: :_blank %>
<% end %>