<div class="alert alert-danger" role="alert">
  <%= t('devise.two_factor_authentication.max_login_attempts_reached').html_safe %>
</div>
<%= link_to t('devise.shared.links.sign_out'), destroy_user_session_path, class: "btn btn-danger" %>
