<%= content_for :title, t('.title') %>
<% @small_content = true %>

<div class="alert alert-danger" role="alert">
  <%= t('.message_html') %>
</div>
<%= link_to t('devise.shared.links.sign_out'), destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
