<div>
  <div class="<%= osuny_card_classes(horizontal: true) %>">
    <%= osuny_thumbnail_localized researcher %>
    <div class="card-body">
      <%= osuny_link_localized  researcher, 
                                admin_research_researcher_path(researcher), 
                                classes: 'stretched-link' %>
    </div>
  </div>
</div>
