<% if about.blocks.none? && about.headings.none? %>
  <%= link_to 'Générer le modèle de déclaration', 
              generate_admin_communication_website_page_path(about), 
              method: :post,
              class: button_classes %>
  <p class="mt-1">Ce modèle est conforme au droit français</p>
<% end %>