<% if @l10n.blocks.none? && @l10n.language.iso_code == "fr" %>
<div class="row">
  <div class="offset-lg-4 col-lg-8">
    <%= link_to 'Générer le modèle de déclaration',
                generate_admin_communication_website_page_path(@page),
                method: :post,
                class: button_classes %>
    <p class="mt-1">Ce modèle est conforme au droit français</p>
  </div>
</div>
<% end %>