<p><%= t('mailers.notifications.low_sms_credits.body_1_html', credits: @credits) %></p>
<p><%= t('mailers.notifications.low_sms_credits.body_2_html', link: 'https://app.brevo.com/billing/account/customize/message-credits') %></p>
<p><%= t('mailers.yours') %></p>