<% content_for :title, Education::Program::Role::Person.model_name.human %>

<%= simple_form_for [:admin, @person] do |f| %>
  <div class="row">
    <div class="col-md-8">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= t('admin.infos') %></h5>
        </div>
        <div class="card-body">
          <% used_person_ids = @role.people.where.not(id: @person.id).pluck(:person_id) %>
          <%= f.association :person, collection: current_university.people.where.not(id: used_person_ids).ordered %>
        </div>
      </div>
    </div>
  </div>
  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
