<% content_for :title, @l10n %>

<div class="row g-3">
  <%
  @year.months.each do |month|
    month_l10n = month.localization_for(current_language)
    events = month_l10n.events
    %>
      <div class="col-6 col-lg-2">
        <div class="<%= osuny_card_classes %>">
          <div class="osuny__thumbnail">
            <span class="osuny__thumbnail__initials">
              <%= month_l10n.to_s %>
            </span>
          </div>
          <div class="card-body">
            <%= link_to month_l10n.to_month_name,
                        admin_communication_website_agenda_periods_year_month_path(
                          website_id: month.website.id,
                          year_id: month.year.id,
                          id: month.id
                        ),
                        class: 'stretched-link' %>
          </div>
        </div>
      </div>
  <% end %>
</div>

<% content_for :action_bar_left do %>
  <%= static_link static_admin_communication_website_agenda_periods_year_path(id: @year.id) %>
<% end %>
