<div class="<%= block_html_class(block) %>">
  <div class="container">
    <div class="block-content">
      <%= render 'admin/communication/blocks/partials/top', block: block %>

      <ol class="locations">
        <% block.template.elements.each do |element|
          location = element.location
          next if location.nil?
        %>
          <li>
            <%= link_to location, [:admin, location] %>
          </li>
        <% end %>
      </ol>
    </div>
  </div>
</div>