<div class="<%= block_html_class(block) %>">
  <div class="container">
    <div class="block-content">
      <% unless block.title.blank? %>
        <div class="top">
          <% unless block.title.blank? %>
            <p class="block-title"><%= block.title %></p>
          <% end %>
        </div>
      <% end %>
      <ol class="locations">
        <% block.template.elements.each do |element|
          location = element.location
          next if location.nil?
        %>
          <li>
            <%= link_to location, [:admin, location] %>
          </li>
        <% end %>
      </ol>
    </div>
  </div>
</div>