<footer class="bg-black text-white py-5">
  <div class="container-fluid">
    <%= link_to 'https://www.osuny.org', target: :_blank, class: 'text-white-50' do %>
      <%= t('admin.footer.signature') %>
    <% end %>
  </div>
</footer>