<nav class="navbar navbar-main navbar-dark bg-black p-2" aria-label="Navigation">
  <button class="btn btn--main"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#menu-main"
          aria-expanded="false"
          aria-label="Afficher la navigation">
    <%= lucide_icon('chevrons-up-down') %>
    Osuny
  </button>
</nav>

<div class="collapse popin-menu" id="menu-main">
  <%= render_navigation context: 'navigation/server', expand_all: true %>
</div>
