<article class="person mb-4">
  <div class="row gx-3">
    <div class="col-3 col-md-12 mb-md-2">
      <% if person.best_picture.attached? %>
        <%= kamifusen_tag person.best_picture, width: 400, class: 'img-fluid',
          sizes: {
              '(max-width: 576px)': '400px',
              '(max-width: 991px)': '200px'
          } %>
      <% else %>
        <%= image_tag 'extranet/avatar.png', width: 400, class: 'img-fluid' %>
      <% end %>
    </div>
    <div class="col-9 col-md-12">
      <p>
        <%= link_to person.to_s_in(current_language),
                    contacts_person_path(person), 
                    class: 'stretched-link' %>
      </p>
    </div>
  </div>
</article>
