<% content_for :title, University::Person.model_name.human(count: 2) %>
<% content_for :header_right do %>
  <p>
    <%= @count %>
    <%= University::Person.model_name.human(count: @count).downcase %>
  </p>
<% end %>

<div class="row">
  <% @people.each do |person| %>
    <div class="col-xxl-2 col-md-3 col-sm-6">
      <%= render 'extranet/contacts/persons/person', person: person %>
    </div>
  <% end %>
</div>
<%= paginate @people, theme: 'bootstrap-5' %>
