<% content_for :title, University::Person.model_name.human(count: 2) %>
<% content_for :header_right do %>
  <p>
    <%= @count %>
    <%= University::Person.model_name.human(count: @count).downcase %>
  </p>
<% end %>

<%= render 'extranet/contacts/persons/list', people: @people %>
<%= paginate @people, theme: 'bootstrap-5' %>
