<% content_for :title, @person %>

<div class="row">
  <div class="col-md-8 order-2 order-md-1">
    <div class="row">
      <div class="col-md-9 mt-n5">
        <% unless @person.biography.blank? %>
          <p class="lead mt-5">
            <%= @person.summary %>
          </p>
        <% end %>
        <% unless @person.biography.blank? %>
          <div class="biography mt-5">
            <%= sanitize @person&.biography %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="offset-md-1 col-md-3 order-1 order-md-2">
    <%= kamifusen_tag @person.best_picture, width: 400, class: 'img-fluid person__portrait' if @person.best_picture.attached? %>
    <%= render 'extranet/alumni/persons/details', person: @person %>
  </div>
</div>
