<%
if about.respond_to?(:emails)
  about.emails.each do |email| 
    label = t("contact_details.emails.email.label")
    detail = ContactDetails::Email.new email
    %>
    <div class="col-md-6">
      <%= render 'admin/application/contact_details/show/single',
                  about: about,
                  label: label,
                  detail: detail,
                  with_link: true %>
    </div>
<% 
  end
end
%>
<%
if about.respond_to?(:email)
  label = t('contact_details.emails.email.label')
  detail = ContactDetails::Email.new(about.email)
  %>
  <div class="col-md-6">
    <%= render 'admin/application/contact_details/show/single',
                about: about,
                variable: :email,
                label: label,
                detail: detail %>
  </div>
<% end %>