<%
label = t('contact_details.websites.website')
data = ContactDetails.find_data(:website, about, l10n)
data = ContactDetails.find_data(:url, about, l10n) if data.nil?
if data.present?
  detail = ContactDetails::Website.new(data)
  %>
  <div class="col-md-6">
    <%= render 'admin/application/contact_details/show/single',
                about: about,
                label: label,
                detail: detail,
                with_link: true,
                has_visibility: false %>
  </div>
<% end %>