<article class="card mt-4 border-0">
  <img src="https://picsum.photos/200/300" alt="<%= volume %>">
  <h1 class="h5 mt-3">
    <%= link_to volume,
                research_journal_volume_path(journal_id: volume.journal, id: volume),
                class: 'stretched-link' %>
  </h1>
</article>
