<article class="card mt-4">
  <div class="card-body">
    <h1 class="h4">
      <%= link_to volume,
      research_journal_volume_path(journal_id: journal, id: volume),
      class: 'stretched-link' %>
    </h1>
  </div>
</article>
