<div class="row g-2">
  <% diplomas.ordered.each do |diploma| %>
    <div class="card card--horizontal">
      <%= osuny_thumbnail_localized diploma %>
      <div class="card-body">
        <%= osuny_link_localized diploma, [:admin, diploma] %>
      </div>
      <div class="card-footer text-end text-muted">
        <%= diploma.level_i18n %>
      </div>
    </div>
  <% end %>
</div>
