<% content_for :title, Education::Diploma.model_name.human(count: 2) %>

<% content_for :title_right do %>
  <%= create_link Education::Diploma %>
<% end %>

<div class="d-flex justify-content-between mb-5">
  <%= render 'admin/application/components/lifecycle/pills',
              path_method: :admin_education_diplomas_path %>
</div>
<%= render 'admin/application/components/lifecycle/label' %>

<%= render 'admin/education/diplomas/list', diplomas: @diplomas %>
