.summernote
    .note-editor
        &, &:hover
            box-shadow: none
        .note-toolbar
            background-color: $color-bg
        .note-editing-area
            .note-editable
                *
                    font-family: $font-family-serif
