<% content_for :title, "#{t('communication.authors', count: 2)} (#{@authors.total_count})" %>

<%= render 'admin/communication/websites/sidebar' do %>
  <div class="card">
    <%= render 'admin/communication/website/authors/list', authors: @authors %>
    <% if @authors.total_pages > 1 %>
      <div class="card-footer">
        <%= paginate @authors, theme: 'bootstrap-5' %>
      </div>
    <% end %>
  </div>
<% end %>

<% content_for :action_bar_right do %>
  <%= link_to t('communication.manage_authors'), admin_administration_members_path, class: button_classes if can?(:read, Administration::Member) %>
<% end %>
