<div class="row mb-4">
  <div class="col-md-6">
    <%= block_component_edit :url %>
    <%= block_component_edit :video_title %>
  </div>
  <div class="col-md-6">
    <%= block_component_edit :transcription, rows: 10 %>
  </div>
</div>
