<div class="row mb-4">
  <div class="col-md-6">
    <%= render 'admin/communication/blocks/components/string/edit', property: :url %>
  </div>
  <div class="col-md-6">
    <%= render 'admin/communication/blocks/components/text/edit', property: :transcription, rows: 10 %>
  </div>
</div>
