.websites
    &--grid
        article
            .media
                padding: 4rem
                background: #F1EFE9
                margin-bottom: 0.5rem
    &--list
        article
            border-bottom: 1px solid #E6E4D9
            padding-bottom: 8px
            padding-top: 8px
            &:hover
                a
                    text-decoration-style: underline
            .floating-thumb
                display: none
                pointer-events: none
                position: absolute
                right: 10px
                top: -150px
                width: 500px
                z-index: 10
            &:hover
                .floating-thumb
                    display: block

.instances
    @extend .list-unstyled
    @extend .row
    margin: 0
    li
        @extend .col-6
        @extend .col-sm-4
        @extend .col-md-3
        @extend .col-lg-2
        aspect-ratio: 1
        outline: 1px solid #E6E4D9
        outline-offset: -0.5px
        margin: -0.5px
        padding: 2rem
        article
            align-items: center
            display: flex
            height: 100%
            justify-content: center
            text-align: center
            picture
                height: 100%
            img
                aspect-ratio: 1
                height: 100%
                max-width: 100%
                object-fit: contain
                object-position: center
                width: 100%