<% content_for :title, @l10n %>

<div class="row mb-5">
  <div class="col-lg-4">
    <%= render 'admin/application/property/text', object: @l10n, property: :opportunities %>
  </div>
  <div class="col-lg-4">
    <%= render 'admin/application/property/text', object: @l10n, property: :results %>
  </div>
</div>

<% content_for :action_bar_right do %>
  <%= edit_link @program %>
<% end %>
