<div class="table-responsive">
  <table class="<%= table_classes %>">
    <thead>
      <tr>
        <th>Classe</th>
        <th>Objet</th>
        <th>ID</th>
      </tr>
    </thead>
    <tbody>
      <% dependencies.each do |dependency| %>
        <tr>
          <td><%= dependency.class.to_s %></td>
          <td><%= dependency %></td>
          <td><%= dependency.id if dependency.respond_to? :id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>