<div class="row pure__row--small">
  <div class="col-md-6">
    <%= block_component_edit :image %>
  </div>
  <div class="col-md-6">
    <%= block_component_edit :alt,
          label: t('admin.communication.blocks.components.image.alt.label'),
          placeholder: t('admin.communication.blocks.components.image.alt.placeholder') %>
    <%= block_component_edit :credit,
          label: t('admin.communication.blocks.components.image.credit.label'),
          placeholder: t('admin.communication.blocks.components.image.credit.placeholder'),
          summernote_config: 'link' %>
    <%= block_component_edit :text,
          summernote_config: 'link' %>
  </div>
</div>
