<%= block_component_preview :image %>
<div class="small">
  <p class="mb-0">
    <%= block_component_preview :alt %>
  </p>
  <%= block_component_preview :credit %>
</div>
<%= block_component_preview :text %>
