<section class="block">
  <div class="container">
    <div class="block-content">
      <% if @block.template.image %>
        <%= block_component_preview :image %>
      <% end %>
    </div>
  </div>
</section>