<div class="<%= block_html_class(block) %>">
  <div class="container">
    <div class="block-content">
      <%= render 'admin/communication/blocks/partials/top', block: block, without_description: true %>
      <% if block.template.image.present? %>
        <figure>
          <%= block_component_show block, :image %>
        </figure>
      <% end %>
    </div>
  </div>
</div>