<%
class_name = "block block-image"

unless block.title.blank?
  class_name += " block-with-title"
end
%>
<div class="<%= class_name %>">
  <div class="container">
    <div class="block-content">
      <% unless block.title.blank? %>
        <div class="top">
          <p class="block-title"><%= block.title %></div>
        </div>
      <% end %>
      <% if block.template.image %>
        <%= block_component_show block, :image %>
      <% end %>
    </div>
  </div>
</div>