<div class="<%= block_html_class(block) %>">
  <div class="container">
    <div class="block-content">
      <%= render 'admin/communication/blocks/partials/top', block: block %>

      <% if block.template.image %>
        <%= block_component_show block, :image %>
      <% end %>
    </div>
  </div>
</div>