<div class="row mb-4">
  <div class="col-md-6">
    <%= block_component_edit :text %>
    <%= block_component_edit :notes %>
  </div>
  <div class="col-md-6">
    <%= block_component_edit :image %>
  </div>
</div>
