<div class="row mb-4">
  <div class="col-md-6">
    <%= render 'admin/communication/blocks/components/rich_text/edit', property: :text %>
    <%= render 'admin/communication/blocks/components/rich_text/edit', property: :notes %>
  </div>
  <div class="col-md-6">
    <%= render 'admin/communication/blocks/components/image/edit', property: :image %>
  </div>
</div>
