<div class="row">
  <div class="col-xxl-4 col-md-6">
    <label  class="form-label"
            for="text">
      <%= t '.text_label' %>
    </label>
    <div class="summernote">
      <textarea id="text"
              class="form-control"
              v-model="data.text"
              ref="summernoteInput"
              data-summernote-config="mini"
              placeholder="<%= t '.text_placeholder' %>"></textarea>
    </div>
  </div>
</div>
