<div class="row">
  <div class="col-xxl-4 col-md-6">
    <label  class="form-label"
            for="text">
      <%= t '.text_label' %>
    </label>
    <textarea id="text"
              class="form-control"
              v-model="data.text"
              placeholder="<%= t '.text_placeholder' %>"></textarea>

  </div>
</div>
