<div class="chapter">
  <div>
    <%= block_component_preview :text %>
  </div>
  <div class="notes">
    <%= block_component_preview :notes %>
  </div>
</div>
<figure>
    <%= block_component_preview :image %>
    <figcaption>
      <%= block_component_preview :credit %>
    </figcaption>
</figure>
