<% if block.template.text.present? %>
  <div><%= block_component_snippet block, :text %></div>
<% end %>
<% if block.template.notes.present? %>
  <div class="small"><%= block_component_snippet block, :notes %></div>
<% end %>