<% if block.template.text.present? %>
  <p><%= block_component_snippet block, :text %></p>
<% end %>
<% if block.template.notes.present? %>
  <p class="small"><%= block_component_snippet block, :notes %></p>
<% end %>