<%= simple_form_for [:admin, journal] do |f| %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :title %>
    </div>
  </div>
  <% content_for :buttons do %>
    <%= submit f %>
  <% end %>
<% end %>
