<%= block_component_preview :layout %>
<div class="events">
<% @block.template.elements.each do |element| %>
  <div class="event">
    <%= block_component_preview :title, template: element %>
    <%= block_component_preview :text, template: element %>
  </div>
<% end %>
</div>