<%
$class = "block block-programs"
unless @block.title.blank?
  $class += " block-with-title"
end
%>
<section class="<%= $class %>" style="display: none;">
  <div class="container">
    <div class="block-content">
      <ol class="programs">
        <% @block.template.selected_programs.each do |program| %>
          <li>
            <%= program %></p>
          </li>
        <% end %>
      </ol>
    </div>
  </div>
</section>