<div class="<%= block_html_class(block) %>">
  <div class="container">
    <div class="block-content">
      <%= render 'admin/communication/blocks/partials/top', block: block %>
      <%= render 'admin/communication/blocks/partials/layout', block: block, file: __FILE__ %>
    </div>
  </div>
</div>