<%
class_name = "block block-programs"
unless block.title.blank?
  class_name += " block-with-title"
end
%>

<div class="<%= class_name %>">
  <div class="container">
    <div class="block-content">
      <% unless block.title.blank? %>
        <div class="top">
          <% unless block.title.blank? %>
            <p class="block-title"><%= block.title %></div>
          <% end %>
        </div>
      <% end %>
      <ol class="programs">
        <% block.template.elements.each do |element|
          program = element.program
          next if program.nil?
        %>
          <li>
            <%= link_to program, [:admin, program] %>
          </li>
        <% end %>
      </ol>
    </div>
  </div>
</div>