<div class="<%= block_html_class(block) %>">
  <div class="container">
    <div class="block-content">
      <%= render 'admin/communication/blocks/partials/top', block: block %>

      <ol class="programs">
        <% block.template.elements.each do |element|
          program = element.program
          next if program.nil?
        %>
          <li>
            <%= link_to program, [:admin, program] %>
          </li>
        <% end %>
      </ol>
    </div>
  </div>
</div>