.summernote
    color: black
    .note-editor
        .note-editing-area
            .note-editable
                *
                    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif
                &, p, div
                    font-size: 1rem
                sup
                    top: inherit
                    padding-left: 2px
    b
        color: black
        font-weight: bold
    .note-btn.dropdown-toggle:after
        margin-left: 10px
    .note-editable
        img, video
            height: auto
            max-width: 100%
        p:last-of-type
            margin-bottom: 0
    button
        background: transparent
        border: none
        &.active
            color: #666666 !important
    blockquote
        border-left: 2px solid lightgray
        font-size: 1.275rem
        padding-left: 1rem
    h2
        margin-top: 2rem
    .note-editable > h2:first-of-type
        margin-top: 0
    .note-editing-area
        background: white
    .sn-checkbox-open-in-new-window
        label
            padding: 0
        input
            margin-right: 10px
            vertical-align: text-top
    .sn-checkbox-use-protocol,
    .note-statusbar
        display: none
    .note-modal-footer
        height: 52px
    .note-editing-area
        border-radius: 3px
    .note-popover .popover-content,
    .note-editor .note-toolbar
        background: white
        border-bottom: 1px solid rgba(0, 0, 0, 0.05)
        border-radius: 3px
        padding: 0
    .note-popover .popover-content > .note-btn-group,
    .note-editor .note-toolbar > .note-btn-group
        margin-right: 0
        margin-top: 0
    .note-btn-group
        .note-btn
            font-size: 12px
            padding-left: 0.4rem
            padding-right: 0.4rem
    .note-link-popover
        display: none !important
