<% @block.template.elements.each do |element| %>

  <article class="card">
    <div class="card-body">
      <p class="lead">
        <%= block_component_preview :text, template: element %>
      </p>
      <div class="d-flex align-items-center">
        <% if element.photo  %>
          <div style="max-width: 80px;" class="me-3">
             <%= block_component_preview :photo, template: element %>
          </div>
        <% end %>
        <p class="flex-fill mb-0">
          <b><%= block_component_preview :author, template: element %></b><br>
          <%= block_component_preview :job, template: element %>
        </p>
      </div>
    </div>
  </article>

<% end %>
