<% if @block.data %>
  <div class="row">
  <% @block.data['elements'].each do |testimonial| %>
      <div class="col-xxl-4 col-xl-6">
        <article class="card">
          <div class="card-body">
            <p class="lead">
              <%= testimonial['text'] %>
            </p>
            <div class="d-flex align-items-center">
              <% photo = testimonial.dig('photo', 'id') %>
              <% unless photo.blank? %>
                <% blob = ActiveStorage::Blob.find photo %>
                <div style="max-width: 80px" class="me-3">
                  <%= kamifusen_tag blob, width: 80, class: 'img-fluid rounded-circle' %>
                </div>
              <% end %>
              <p class="flex-fill mb-0">
                <b><%= testimonial['author'] %></b><br>
                <%= testimonial['job'] %>
              </p>
            </div>
          </div>
        </article>
      </div>
  <% end %>
  </div>
<% end %>
