<h1>Editing Research Journal Volume</h1>

<%= render 'form', research_journal_volume: @research_journal_volume %>

<%= link_to 'Show', @research_journal_volume %> |
<%= link_to 'Back', research_journal_volumes_path %>
