<% content_for :title, @volume %>

<p>
  <strong>Number:</strong>
  <%= @volume.number %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @volume.published_at&.to_date %>
</p>

<% content_for :buttons do %>
  <%= edit_link @volume %>
<% end %>
