<div class="row mb-3">
  <% volumes.each do |volume| %>
    <div class="col-lg-3 col-xxl-2">
      <div class="card">
        <%= osuny_thumbnail_localized volume, large: true %>
        <div class="card-body">
          <%= osuny_published_localized volume %>
          <%= osuny_link_localized  volume,
                                    admin_research_journal_volume_path(journal_id: @journal, id: volume),
                                    classes: 'stretched-link' %>
        </div>
      </div>
    </div>
  <% end %>
</div>