<% content_for :title, @l10n %>

<div class="row">
  <div class="col-lg-8 order-2 order-lg-1">
    <%= render 'extranet/organizations/show/description',
                organization: @organization,
                l10n: @l10n %>
    <%= render 'extranet/alumni/organizations/show/experiences', experiences: @experiences if @experiences.any? %>
  </div>
  <div class="offset-lg-1 col-lg-3 order-1 order-lg-2">
    <%= render 'extranet/organizations/show/details',
                organization: @organization,
                l10n: @l10n %>
  </div>
</div>
