<ul class="list">
  <% cohorts.each do |cohort| %>
  <li>
    <h2>
      <%= osuny_link_localized cohort.program, [:alumni, cohort], classes: 'stretched-link' %>
    </h2>
    <p>
      <%= cohort.academic_year.year %>
    </p>
  </li>
  <% end %>
</ul>
