<% content_for :title, Education::Cohort.model_name.human(count: 2) %>
<% content_for :header_right do %>
  <p>
    <%= @count %>
    <%= Education::Cohort.model_name.human(count: @count).downcase %>
  </p>
<% end %>

<% if current_extranet.should_show_academic_years? %>
  <%= render 'extranet/alumni/cohorts/index/facets', cohorts: @cohorts, facets: @facets %>
<% else %>
  <%= render 'extranet/alumni/cohorts/index/cards', cohorts: @cohorts %>
<% end %>