<% people_paged = people.ordered.page(params[:page]).per(60) %>
<div class="row">
  <% people_paged.each do |person| %>
    <div class="col-xxl-2 col-md-3">
      <%= render 'extranet/persons/person', person: person %>
    </div>
  <% end %>
</div>
<%= paginate people_paged, theme: 'bootstrap-5' %>
