<% content_for :title, @person %>

<%= render 'extranet/persons/header', person: @person %>

<div class="row">
  <div class="col-md-9">
    <div class="biography">
      <p><%= @person&.biography %></p>
    </div>
    <% if @person&.experiences.any? %>
      <div class="experiences">
        <p class="mb-4">Parcours professionel</p>
        <ul>
          <% @person.experiences.ordered.each do |experience| %>
            <%= render 'extranet/persons/experience', experience: experience %>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="col-md-3">
    <%= render 'extranet/persons/details', person: @person %>
  </div>
</div>
