<% content_for :title, current_context %>

<div class="row">
  <div class="col-md-8">

  </div>
  <div class="col-md-4">
    <h2>Promotions actuelles</h2>
    <p><%= link_to 'Voir toutes les promotions', education_cohorts_path %></p>
    <% @cohorts.each do |cohort| %>
      <%= link_to cohort, cohort %><br>
    <% end %>
  </div>
</div>
