.osuny__published
    background-color: $color-flexoki-100
    border-radius: 100%
    display: inline-block
    height: 10px
    margin-right: 5px
    width: 10px
    &--true,
    &--published
        background-color: $color-flexoki-green
    &--planned
        border: 1px solid $color-flexoki-green
        &::after
            background-color: $color-flexoki-green
            border-radius: 8px 8px 0 0
            content: ""
            height: 4px
            position: absolute
            transform: rotate(-135deg)
            transform-origin: bottom
            width: 8px
    &--false,
    &--draft
        border: 1px solid $color-border