.osuny__thumbnail
    align-items: center
    aspect-ratio: 1
    background: $color-bg-soft
    display: flex
    height: 100%
    justify-content: center
    max-height: 70px
    max-width: 70px
    overflow: hidden
    width: 100%
    @include media-breakpoint-down(md)
        display: none
    &__initials
        color: #CCCCCC
        display: block
        font-family: $font-family-serif
        font-size: pxToRem(30)
        user-select: none
    &--large
        max-height: 300px
        max-width: 300px
        .osuny__thumbnail__initials
            font-size: pxToRem(60)
    &--uncropped
        position: relative
        img
            margin: 20%
    .organizations-index &
        img
            mix-blend-mode: multiply
