<div class="mt-5 mt-xl-0 mb-2">
  <% if current_university.logo.attached? %>
    <%= kamifusen_tag current_university.logo,
                      width: 120,
                      cached: true %>
  <% else %>
    <%= current_university %>
  <% end %>
</div>
