<div class="row mt-5 pt-5">
  <% @namespaces.each do |namespace| %>
    <%
    key = namespace.to_s.underscore
    path = send "admin_#{key}_root_path"
    title = t("#{key}.description.title") 
    %>
  <div class="col mb-5">
    <div class="position-relative">
      <%= image_tag "admin/#{key}.jpg", class: 'img-fluid rounded' %>
      <h2 class="h4 mt-3"><%= title %></h2>
      <%= link_to t('manage'), path, class: 'action stretched-link' %>
    </div>
  </div>
<% end %>
</div>
