<% content_for :title, 'Tableau de bord' %>

<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h4>Bonjour <%= current_user.first_name %>&nbsp;!</h4>
        <p><%= current_university %></p>
      </div>
    </div>
  </div>
</div>
