<div class="description">
  <%= block_component_preview :description %>
</div>
<ul>
  <% @block.template.elements.each do |element| %>
    <% next unless element.blob %>
    <li>
      <a href="<%= element.blob.url %>" download="{{ partial 'PrepareHTML' $file.name }}" target="_blank" title="{{ i18n 'commons.link.blank_aria' (dict 'Title' $title_with_size) }}">
        <span><%= element.title %><br><span>(<%= element.blob.filename %>)</span></span>
      </a>
    </li>
  <% end %>
</ul>