<%= block_component_preview :description %>
<ul>
  <% @block.template.elements.each do |element| %>
    <% next unless element.blob %>
    <li>
      <a href="<%= element.blob.url %>" download>
        <%= element.title %>
        <small>(<%= element.blob.filename %>)</small>
      </a>
    </li>
  <% end %>
</ul>
