<% programs = Education::Program.all %>

<h2>Formations</h2>
<div class="facet facet--programs">
  <%  programs.each do |programs| %>
    <div class="form-check">
      <input type="checkbox" value="<%= programs %>" id="<%= "programs-#{programs}" %>" class="form-check-input" autocomplete="off">
      <label for="<%= "programs-#{programs}" %>" class="form-check-label"><%= programs %></label>
    </div>
  <% end %>
</div>
