<div class="card flex-fill">
  <% if title %>
  <div class="card-header mb-n4">
    <% if action %>
      <div class="float-end"><%= raw action %></div>
    <% end %>
    <h2 class="card-title mb-0"><%= title  %></h2>
  </div>
  <% end %>
  <div class="card-body">
    <%= yield %>
  </div>
</div>