<%
$color = about.accessible? ? 'text-success' : 'text-danger'
%>
<span class="small a11y__status">
  <i class="a11y__status__icon lead fas fa-universal-access <%= $color %>"></i>
  <%= t "accessibility.status.#{about.accessible?}" %>
</span>
