<%= block_component_edit block, :layout %>

<div class="row pure__row--small">
  <div class="col-xl-6">
    <%= block_component_edit block, :description %>
  </div>
  <div class="col-xl-6">
    <%= block_component_edit block, :quantity %>
  </div>
</div>

<%= block_component_edit block, :time %>