<p class="mb-0">
  <% if block.template.mode == 'categories' %>
    <%= @website.agenda_categories
                .map { |category| category.to_s_in(block.language) }
                .join(', ') %>
  <% else %>
    <% if block.template.selected_events.any? %>
      <%= block.template.selected_events
                        .map { |event| event.to_s_in(block.language) }
                        .join(', ') %>
    <% else %>
      <%= block.template.no_event_message %>
    <% end %>
  <% end %>
</p>