<p class="mb-0">
  <% if block.template.mode == 'categories' %>
    <%= @website.agenda_categories.collect(&:to_s).join(', ') %>
  <% else %>
    <% if block.template.selected_events.any? %>
      <%= block.template.selected_events.collect(&:to_s).join(', ') %>
    <% else %>
      <%= block.template.no_event_message %>
    <% end %>
  <% end %>
</p>