<div class="gdpr__cookie_consent js-gdpr__cookie_consent">
  <div class="gdpr__cookie_consent__text">
    <%= t('gdpr.cookie_consent.text') %>
    <%= t('gdpr.cookie_consent.learn_more_html', link: cookies_policy_path) %>
  </div>
  <div class="gdpr__cookie_consent__buttons">
    <button class="gdpr__cookie_consent__buttons__ok js-gdpr__cookie_consent__buttons__ok btn btn-primary btn-sm btn-xs"> <%= t('gdpr.cookie_consent.button_ok') %></button>
    <button class="gdpr__cookie_consent__buttons__ko js-gdpr__cookie_consent__buttons__ko btn btn-primary btn-sm btn-xs"> <%= t('gdpr.cookie_consent.button_ko') %></button>
  </div>
</div>