.navbar
    position: absolute
    left: 0
    right: 0
    padding-top: $spacing2
    .bi
        font-size: 26px
        vertical-align: middle
    .navbar-brand
        img
            width: 100px
    .btn-open
        margin-right: -14px
#menu
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: black
    color: white
    overflow-y: scroll
    z-index: 1000
    padding-bottom: 30px
    .avatar
        width: 80px
    .menu-content
        position: relative
        margin-top: 150px
        ul
            list-style-type: none
            padding: 0
            li
                padding: 5px 0
                span
                    opacity: 0.2
        a
            color: white
            text-decoration: underline
            text-decoration-color: #FFFFFF66
            &:hover
                text-decoration-color: #FFFFFFFF
