.pure
    &__section
        margin-bottom: $spacing3
        h2
            font-size: px2rem(18)
            font-weight: bold
            color: $color-text-alt
    &__row--small
        margin-left: calc(-.5 * #{$spacing1})
        margin-right: calc(-.5 * #{$spacing1})
        > *
            padding-left: calc(.5 * #{$spacing1})
            padding-right: calc(.5 * #{$spacing1})

.navbar
    position: absolute
    left: 0
    right: 0
    padding-top: $spacing2
    .bi
        font-size: 26px
        vertical-align: middle
    .navbar-brand
        img
            width: 100px
    .btn-open
        margin-right: -14px
#menu
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: black
    color: white
    overflow-y: scroll
    z-index: 1000
    padding-bottom: 30px
    .menu-content
        position: relative
        margin-top: 150px
        ul
            list-style-type: none
            padding: 0
            li
                padding: 5px 0
                span
                    opacity: 0.2
        a
            color: white
            text-decoration: underline
            text-decoration-color: #FFFFFF66
            &:hover
                text-decoration-color: #FFFFFFFF

.hero
    padding-top: 150px
    padding-bottom: 30px
    background-color: $color-background-alt
    margin-bottom: 30px

main
    min-height: 70vh
    position: relative

.container-fluid
    padding-right: var(--bs-gutter-x)
    padding-left: var(--bs-gutter-x)

p
    color: $color-text

.category
    border-bottom: 1px solid $color-border
    font-size: $h5-font-size
    font-weight: normal
    margin-bottom: $spacing1
    margin-top: $spacing4 !important
    padding-bottom: $spacing0
    text-transform: uppercase

a
    text-decoration: none
    text-decoration-thickness: 1px
    text-underline-offset: 5px
    transition: text-decoration 0.5s, color 0.5s

    &:hover
        color: darken($primary, 10)

.form-control:valid,
.form-control.is-valid,
.form-select:valid,
.form-select.is-valid
    border-color: $color-valid
.form-label
    color: $color-text-alt

.card
    margin-bottom: $spacing1
    .card-title
        font-size: px2rem(18)
        font-weight: bold
        small
            font-weight: normal
    .table
        margin-bottom: 0
        th,
        td
            padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x)
    &.kind--selected
        background: $color-accent
        border-color: $color-accent
        color: $color-background

.list-group-item.active
    color: $color-accent
    font-weight: bold

.btn-xs
    font-size: 14px
    padding: 2px 7px

.btn-light
    background: $color-background
    border-color: $color-border

.commands
    background: $color-background-alt
    position: fixed
    bottom: 0
    left: 0
    right: 0
    z-index: 100
.blocks
    .card
        border: 1px solid $color-border

.filters
    position: absolute
    top: 0
    right: 0
    margin-top: 0 !important

#collapseFilters
    padding-top: 0 !important
    + br
        display: none

.sdfi-deletable-file__preview
    margin-top: 10px

#collapseFilters
    padding-top: 50px

.table
    input[type=checkbox]
        margin-right: 10px
    th
        color: $color-text-alt
        font-weight: normal

footer
    min-height: 300px
    a
        text-decoration: none
        color: white