.navbar
    position: absolute
    left: 0
    right: 0
    .navbar-brand
        img
            width: 100px
#menu
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: black
    color: white
    overflow-y: scroll
    z-index: 1000
    padding-bottom: 30px
    .menu-content
        position: relative
        margin-top: 150px
        ul
            list-style-type: none
            padding: 0
            li
                padding: 5px 0
                span
                    opacity: 0.2
        a
            color: white
            text-decoration-color: #FFFFFF66
            &:hover
                text-decoration-color: #FFFFFFFF

.hero
    padding-top: 150px
    padding-bottom: 30px
    background-color: $color-background-alt
    margin-bottom: 30px

.container-fluid
    padding-right: var(--bs-gutter-x)
    padding-left: var(--bs-gutter-x)

h2
    font-weight: bold

a
    transition: text-decoration 0.5s, color 0.5s
    text-decoration: underline
    text-decoration-thickness: 1px
    text-underline-offset: 5px
    text-decoration-color: adjust-color($primary, $alpha: -0.5)
    &:hover
        color: darken($primary, 10)
        text-decoration-color: $primary

.commands
    background: black
    position: fixed
    bottom: 0
    left: 0
    right: 0
    z-index: 100

footer
    min-height: 300px
    a
        text-decoration: none
        color: white