// MAIN COLORS
$color-accent: #0038FF
$color-text: #000000
$color-text-alt: #454545
$color-border: rgba(0, 0, 0, 0.30)
$color-background-alt: #F2F2F2
$color-background: #FFFFFF

// Spacing
$spacing0: px2rem(10)
$spacing1: px2rem(20)
$spacing2: px2rem(40)
$spacing3: px2rem(60)
$spacing4: px2rem(120)
$spacing5: px2rem(240)

// Bootstrap

$primary: $color-accent
$color-background-alt: #F5F5F5

$font-family-sans-serif: "Basier Square", sans-serif

$grid-gutter-width: 60px

$border-radius: 0
$border-radius-sm: 0
$border-radius-lg: 0
$border-radius-xl: 0
$border-radius-2xl: 0

$card-spacer-y: 0
$card-spacer-x: 0
$card-border-width: 0
$card-cap-bg: transparent

$transition-collapse: height 0

$h2-font-size: 20px
$h5-font-size: px2rem(14)

$table-cell-padding-x: 0
$table-cell-padding-x-sm: 0

$badge-font-weight: normal

$form-label-font-size: $h5-font-size

$breadcrumb-font-size:  $h5-font-size
$breadcrumb-padding-y: $spacing1

$list-group-item-padding-x: 0
$list-group-active-bg: $color-background
$list-group-active-border-color: $color-accent

$enable-negative-margins: true