<div class="row g-3">
  <% people.each do |person| %>
    <div class="col-6 col-lg-3 col-xxl-2">
      <div class="<%= osuny_card_classes %>">
        <%= osuny_thumbnail_localized person, large: true %>
        <div class="card-body">
          <%= osuny_published_localized person %>
          <%= osuny_link_localized  person,
                                    admin_university_person_path(person),
                                    classes: 'stretched-link'  %>
        </div>
      </div>
    </div>
  <% end %>
</div>