<div class="row">
  <% cohorts.each do |cohort| %>
    <div class="col-md-6">
      <article class="card mb-4">
        <div class="card-body">
          <h2 class="mb-5">
            <%= link_to cohort, cohort, class: 'stretched-link' %>
          </h2>
          <p class="text-end mb-0">
            <%= cohort.people.count %>
            <%= University::Person::Alumnus.model_name.human(count: cohort.people.count).downcase %>
          </p>
        </div>
      </article>
    </div>
  <% end %>
</div>
