<% content_for :title, Education::Cohort.model_name.human(count: 2) %>

<header class="mb-5">
  <h1><%= Education::Cohort.model_name.human(count: 2) %></h1>
</header>

<%= render 'extranet/cohorts/list', cohorts: @cohorts %>
