<% content_for :title, Education::Cohort.model_name.human(count: 2) %>

<h1><%= Education::Cohort.model_name.human(count: 2) %></h1>

<table class="<%= table_classes %>">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cohorts.each do |cohort| %>
      <tr>
        <td><%= link_to cohort, cohort %></td>
        <td><%= cohort.people.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
