<% content_for :title, @cohort %>

<header class="mb-5">
  <h1><%= @cohort %></h1>
  <p>
    <%= @cohort.people.count %>
    <%= University::Person::Alumnus.model_name.human(count: @cohort.people.count).downcase %>
  </p>
</header>

<%= render 'extranet/persons/list', people: @cohort.people %>
