<div class="row g-2 mb-3">
  <% laboratories.each do |laboratory| %>
    <div>
      <div class="card card--horizontal">
        <%= osuny_thumbnail_localized laboratory %>
        <div class="card-body">
          <%= osuny_link_localized  laboratory,
                                    admin_research_laboratory_path(laboratory),
                                    classes: 'stretched-link' %>
        </div>
        <div class="card-footer small text-muted">
          <%= laboratory.full_address %>
        </div>
      </div>
    </div>
  <% end %>
</div>
