<div class="row mb-4">
  <div class="col-md-6">
    <div class="mb-3">
      <%= block_component_edit :code %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="mb-3">
      <%= block_component_edit :transcription,
            label: t('admin.communication.blocks.components.text.transcription.label'),
            placeholder: t('admin.communication.blocks.components.text.transcription.placeholder') %>
    </div>
  </div>
</div>
