<div class="row">
  <div class="col-md-6 mb-3">
    <%= block_component_edit :code %>
  </div>
  <div class="col-md-6mb-3">
    <%= block_component_edit :transcription,
          label: t('admin.communication.blocks.components.text.transcription.label'),
          placeholder: t('admin.communication.blocks.components.text.transcription.placeholder') %>
  </div>
</div>
