<div class="row row-small">
  <div class="col-md-6">
    <p class="text-danger lead"><%= t '.warning' %></p>
  </div>
</div>
<div class="row row-small">
  <div class="col-md-6">
    <%= block_component_edit :code %>
  </div>
  <div class="col-md-6">
    <%= block_component_edit :transcription,
          label: t('admin.communication.blocks.components.text.transcription.label'),
          placeholder: t('admin.communication.blocks.components.text.transcription.placeholder') %>
  </div>
</div>
