<%
  $class = "block block-embed" 
  unless @block.title.empty?
    $class += " block-with-title"
  end
%>

<section class="<%= $class %>">
  <div class="container">
    <div class="block-content">
      <% unless @block.title.empty? && @block.template.description.empty? %>
        <div class="top">
          <% unless @block.title.empty? %>
            <h2><%= @block.title %></h2>
          <% end %>
        </div>
      <% end %>
      <%= block_component_preview :code %>
      <div class="transcription">
        <details>
          <summary>Transcription</summary>
          <p>
            <%= block_component_preview :transcription %>
          </p>
        </details>
      </div>
    </div>
  </div>
</section>



