<div class="experiences mt-4">
  <h2 class="mb-4"><%= t('extranet.experiences.title') %></h2>
  <ul class="list-unstyled">
    <%= render 'extranet/account/experiences/list', experiences: experiences %>
    <%= paginate experiences, theme: 'bootstrap-5', param_name: :experiences_page %>
  </ul>
</div>
