<div class="row g-2 mb-3">
  <% kinds.each do |kind| %>
    <div>
      <div class="card card--horizontal">
        <%= osuny_thumbnail_localized kind %>
        <div class="card-body">
          <%= osuny_link_localized  kind,
                                    admin_research_journal_kind_path(journal_id: kind.journal, id: kind),
                                    classes: 'stretched-link' %>
        </div>
        <div class="card-footer small text-muted">
          <%= kind.papers.count %>
          <%= Research::Journal::Paper.model_name.human(count: kind.papers.count).downcase %>
        </div>
      </div>
    </div>
  <% end %>
</div>
