<%= content_for :title, Program.model_name.human(count: 2) %>
<h1><%= Program.model_name.human(count: 2) %></h1>

<ul>
  <% @programs.each do |program| %>
    <li><%= link_to program, program %></li>
  <% end %>
</ul>
