<%
kind = about.design_options_block_template_kind
%>
<div class="mb-5">
  <p>
    <%= osuny_label t('admin.communication.blocks.components.layouts.label') %><br>
    <%= t "admin.communication.blocks.templates.#{kind}.layouts.#{about.design_options_layout}.label" %>
  </p>
  <p>
    <%= osuny_label t('admin.communication.blocks.display_options.title') %><br>
    <%= about.design_options_active.map { |key| 
        t "admin.communication.blocks.templates.#{kind}.edit.option_#{key}.label"
      }.to_sentence %>
  </p>
</div>