<% content_for :title, t('admin.communication.website.pages.structure') %>

<% content_for :title_right do %>
  <%= create_link Communication::Website::Page %>
<% end %>

<%= render 'filters' %>

<div class="position-relative mt-2">
  <%= render 'admin/communication/websites/pages/list', pages: @pages %>
  <%= paginate @pages %>
</div>
