<header class="hero">
  <%= kamifusen_tag @page.best_featured_image if @page.best_featured_image.attached? %>
  <div class="container">
    <div>
      <h1><%= @page.title %></h1>
    </div>
    <ol class="breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">
      <li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
        <a itemprop="item"><span itemprop="name">Accueil</span></a>
        <meta itemprop="position" content="1">
      </li>
      <li class="breadcrumb-item active" aria-current="page" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
        <span itemprop="name"><%= @page.title %></span>
        <meta itemprop="position" content="2">
      </li>
    </ol>
  </div>
</header>
<%= render 'admin/communication/blocks/preview', about: @page %>
