<% if @block.data %>
  <% if @block.template.category %>
    <h2 class="mb-4"><%= @block.template.category %></h2>
  <% end %>
  <% @block.template.selected_posts.each do |post| %>
    <h3 class="h5"><%= post %></h3>
    <p>
      <%= post.description_short %>
    </p>
  <% end %>
<% end %>
