<% date_format = "%e %B %Y" %>
<div class="<%= block_html_class(block) %>">
  <div class="container">
    <div class="block-content">
      <%= render 'admin/communication/blocks/partials/top', block: block %>
      <% if block.data %>
        <%= render 'admin/communication/blocks/partials/layout', block: block, file: __FILE__ %>
      <% end %>
    </div>
  </div>
</div>