<%
if block.template.mode == 'categories'
  objects = @website.post_categories.ordered(current_language)
else
  objects = block.template.selected_posts
end
objects = objects.first(2)
object_names = objects.map { |object| object.to_s_in(current_language) }
%>
<p class="mb-0">
  <%= object_names.collect(&:to_s).join(', ') %>
</p>
