<button type="button"
        class="btn btn-sm"
        data-bs-toggle="modal"
        data-bs-target="#mediaImportModal">
  <%= lucide_icon('image') %>
  <%= t('photo_import.buttons.medias') %>
</button>