<% content_for :title, "#{Communication::Website::Menu.model_name.human(count: 2)} (#{@menus.count})" %>

<%= render 'admin/communication/websites/sidebar' do %>
  <div class="card">
    <%= render 'admin/communication/website/menus/list', menus: @menus %>
    <div class="card-footer">
      <%= paginate @menus, theme: 'bootstrap-5' %>
    </div>
  </div>
<% end %>

<% content_for :action_bar_right do %>
  <%= create_link Communication::Website::Menu %>
<% end %>
