.navbar
    margin-bottom: 100px
    .navbar-brand
        img
            max-width: 100px
    .active
        .nav-link
            color: $navbar-link-active-color
header
    align-items: center
    border-bottom: 1px solid
    border-top: 1px solid
    display: flex
    justify-content: space-between
    min-height: 160px
    h1, p
        margin: 0
        padding: 0
