<%= osuny_panel Communication::Website::Connection.model_name.human(count: 2) do %>
  <ul class="list-unstyled">
    <% about.websites.each do |website| %>
      <li><%= link_to website, [:admin, website] %></li>
    <% end %>
  </ul>
<% end if about.websites.any? %>