<% 
# TODO i18n quand les phrases sont vraiment claires 
# @pa t'affole pas, c'est pas encore le cas 
%>
<div class="mb-4">
  <%= osuny_label t('metadata') %><br>
  <% if @post.published %>
    Publié le <%= l @post.published_at.to_date %>
    <% if @post.pinned %>
      et mis en avant
    <% end %>
  <% else %>
    Brouillon
  <% end %>
  <% if @post.author %>
    <br>par <%= @post.author %>
  <% end %>
  <% if @post.categories.any? %>
    <br>dans <%= @post.categories.collect(&:to_s).join(', ') %>
  <% end %>
</div>