<a  class="<%= button_classes('mb-4') %>"
    v-on:click="data.elements.push({name: '', url: '', logo: {}})">
    Add partner
</a>

<draggable :list="data.elements" class="list-group" handle=".partnerHandle">
  <div v-for="(partner, index) in data.elements" class="list-group-item">
    <div class="d-flex">
      <div>
        <a class="btn ps-0 partnerHandle">
          <i class="fa fa-bars handle"></i>
        </a>
      </div>
      <div class="flex-fill">
        <div class="row">
          <div class="col-lg-4">
            <label  class="form-label"
                    :for="'partner-' + index + '-name'">Name</label>
            <input class="form-control mb-2"
                  type="text"
                  v-model="partner.name"
                  placeholder="Type partner's name here"
                  :id="'partner-' + index + '-name'">
          </div>
          <div class="col-lg-4">
            <label  class="form-label"
                    :for="'partner-' + index + '-url'">
              Url <small>(starting with https:// )</small>
            </label>
            <input class="form-control mb-2"
                  type="text"
                  v-model="partner.url"
                  placeholder="Type partner's url here"
                  :id="'partner-' + index + '-url'">
          </div>
          <div class="col-lg-4">
            <div v-if="!partner.logo.id">
              <%# TODO : create a uploader vue3 component %>
              <label  class="form-label"
                      :for="'partner-' + index + '-logo'">
                Logo
              </label>
              <input  class="form-control mb-2"
                      type="file"
                      accept="image/*"
                      @change="onFileImageChange( $event, partner, 'logo' )"
                      :id="'partner-' + index + '-logo'">
            </div>
            <div v-if="partner.logo.id">
              <img :src="getImageUrl(partner.logo)"
                    class="img-fluid"
                    style="max-height: 100px"
                    />
              <a  class="btn btn-sm btn-danger ms-2"
                  v-on:click="partner.logo={}">
                  Remove
                  <i class="fas fa-times"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div>
        <a  class="btn btn-sm btn-danger ms-3"
            v-on:click="data.elements.splice(data.elements.indexOf(partner), 1)">
            <i class="fas fa-times"></i>
        </a>
      </div>
    </div>
  </div>
</draggable>
