<%= block_component_preview :description %>
<div class="row">
  <% @block.template.elements.each do |element| %>
    <div class="col-6 mb-3">
      <%= kamifusen_tag element.best_logo,
                        width: 600,
                        class: 'img-fluid mb-2' unless element.best_logo.nil? %>
      <p>
        <%= element.best_name %><br>
        <span class="small">
          <%= element.best_url %>
        </span>
      </p>
    </div>
  <% end %>
</div>
