<% @block.template.elements.each do |element| %>
  <span class="me-2">
    <% if element.best_logo %>
      <%= image_tag element.best_logo, width: 90 %>
    <% else %>
      <%= element.best_name %>
    <% end %>
  </span>
<% end %>