<%= osuny_panel Communication::Website::Connection.model_name.human(count: 2) do %>
  <% about.websites.each do |website| %>
    <div class="mb-4">
      <p class="mb-0"><b><%= link_to website, [:admin, website] %></b></p>
      <ul class="list-unstyled small">
        <% Communication::Website::Connection.for_object(about).in_website(website).each do |connection| %>
          <% 
          source = connection.source
          begin
            path = url_for [:admin, source]                 
          rescue
          end
          path = edit_admin_communication_block_path(source) if source.is_a?(Communication::Block)
          path = admin_communication_website_page_path( website_id: website.id, 
                                                        lang: website.default_language, 
                                                        id: source) if source.is_special_page?
          %>
          <li><%= link_to_if path, source, path %></li>
        <% end %>
      </ul>
    </tr>
  <% end %>
<% end if about.websites.any? %>