<% if content_for?(:action_bar_left) or content_for?(:action_bar_right) %>
  <footer class="footer fixed">
    <div class="float-start">
      <%= yield :action_bar_left %>
    </div>
    <div class="float-end">
      <%= yield :action_bar_right %>
    </div>
  </footer>
<% end %>
