<nav id="sidebar" class="sidebar">
  <div class="sidebar-content js-simplebar">
    <%= link_to admin_root_path, class: 'sidebar-brand' do %>
      <%= image_tag 'osuny-white.svg', class: 'img-fluid pe-5 py-3' %>
    <% end %>
    <%= render_navigation context: :admin %>
  </div>
</nav>
