<% if current_user.can_display_global_menu? %>
  <nav id="sidebar" class="sidebar<%= ' collapsed' if @menu_collapsed %>">
    <div class="sidebar-content js-simplebar">
      <%= link_to admin_root_path, class: 'sidebar-brand' do %>
        <%= image_tag 'osuny-white.svg', class: 'img-fluid' %>
      <% end %>
      <%= render_navigation context: :admin %>
    </div>
  </nav>
<% else %>
  <%# we need a "collapsed" sidebar to display the footer full width %>
  <nav id="sidebar" class="sidebar collapsed ">
  </nav>
<% end %>
