<nav class="navbar navbar-expand navbar-light navbar-bg">
  <div class="navbar-collapse collapse">
    <%= render_breadcrumbs builder: Appstack::BreadcrumbsOnRailsBuilder %>
    <ul class="navbar-nav navbar-align">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
          <span class="text-dark"><%= current_user %></span>
        </a>
        <div class="dropdown-menu dropdown-menu-end">
          <a class="dropdown-item" href="pages-profile.html"><i class="align-middle me-1" data-feather="user"></i> Profile</a>
          <a class="dropdown-item" href="#">
            <i class="align-middle me-1" data-feather="pie-chart"></i> Analytics
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Settings & Privacy</a>
          <a class="dropdown-item" href="#">Help</a>
          <a class="dropdown-item" href="#">Sign out</a>
        </div>
      </li>
      <li>
        <a class="nav-link" href="#">
          <%= image_tag 'avatar.jpg', class: 'avatar img-fluid rounded-circle' %>
        </a>
      </li>
    </ul>
  </div>
</nav>
