<% content_for :title, Research::Journal::Article.model_name.human(count: 2) %>

<h1><%= Research::Journal::Article.model_name.human(count: 2) %></h1>

<table class="table">
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= link_to article, research_journal_article_path(journal_id: @journal.id, id: article.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
