<%= simple_form_for [:admin, involvement],
                    url: involvement.new_record? ? admin_education_school_role_people_path(@role, { school_id: @school.id })
                                                 : admin_education_school_role_person_path(involvement, { school_id: @school.id, role_id: @role.id }) do |f| %>
  <div class="card flex-fill w-100">
    <div class="card-header">
      <h5 class="card-title mb-0"><%= t('admin.infos') %></h5>
    </div>
    <div class="card-body">
      <%= f.association :person, collection: @available_people %>
    </div>
  </div>
  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
