<div class=lightbox id=lightbox role=dialog aria-label=Visionneuse tabindex=0>
  <div class=lightbox-media id=lightbox-media></div>
  <div class=lightbox-controls>
    <button class=lightbox-button-information aria-controls=lightbox-detail-information aria-expanded=false type=button>
      <span class=sr-only>Informations de l'image</span>
    </button>
    <div id=lightbox-detail-information class="lightbox-detail">
      <p class=lightbox-detail__title>Informations</p>
      <div id=lightbox-information></div>
      <button class=lightbox-detail__close aria-controls=lightbox-detail-information tabindex=0 aria-label="Fermer les informations" type=button>Fermer</button>
    </div>
    <button class=lightbox-button-credit aria-controls=lightbox-detail-credit aria-expanded=false type=button>
      <span class=sr-only>Crédits de l'image</span>
    </button>
    <div id=lightbox-detail-credit class="lightbox-detail">
      <p class=lightbox-detail__title>Crédits</p>
      <div id=lightbox-credit></div>
      <button class=lightbox-detail__close aria-controls=lightbox-detail-credit tabindex=0 aria-label="Fermer les crédits" type=button>Fermer</button>
    </div>
    <button class=lightbox-button-transcription aria-controls=lightbox-detail-transcription aria-expanded=false type=button>
      <span class=sr-only>Transcription de la vidéo</span>
    </button>
    <div id=lightbox-detail-transcription class="lightbox-detail">
      <p class=lightbox-detail__title>Transcription</p>
      <div id=lightbox-transcription></div>
      <button class=lightbox-detail__close aria-controls=lightbox-detail-transcription tabindex=0 aria-label="Fermer la transcription" type=button>Fermer</button>
    </div>
    <button class=lightbox-button-previous type=button>
      <span class=sr-only>Aller à l'image précédente</span>
    </button>
    <button class=lightbox-button-next type=button>
      <span class=sr-only>Aller à l'image suivante</span>
    </button>
    <button class="lightbox-button-close popup-close" type=button>
      <span class=sr-only>Fermer la visionneuse</span>
    </button>
  </div>
</div>