<div>
  <div class="<%= osuny_card_classes(horizontal: true) %>">
    <%= osuny_thumbnail localization %>
    <div class="card-body">
      <%= osuny_link localization, link, classes: "stretched-link" %>
    </div>
    <div class="card-footer text-muted">
      <%= type %>
    </div>
  </div>
</div>