<div class="row g-2 mb-3">
  <% @theses.each do |thesis| %>
    <div>
      <div class="card card--horizontal">
        <%= osuny_thumbnail_localized thesis %>
        <div class="card-body">
          <%= osuny_link_localized thesis, [:admin, thesis] %><br>
          <%= thesis.author.to_s_in(current_language) %>
        </div>
        <div class="card-footer">
          <%= thesis.laboratory.to_s_in(current_language) %>
        </div>
      </div>
    </div>
  <% end %>
</div>
