<h1>New University Person Alumnus Import</h1>

<%= render 'form', university_person_alumnus_import: @university_person_alumnus_import %>

<%= link_to 'Back', university_person_alumnus_imports_path %>
