<% content_for :title, University::Organization::Import.model_name.human %>

<div class="row">
  <div class="col-md-6">
    <p>
      Les données doivent être au format csv, comme l'exemple suivant.<br>
      La première ligne doit être dédiée aux entêtes.<br>
      Les noms des entêtes sont obligatoires et doivent être respectés strictement.<br>
      Le champ name est obligatoire.<br>
      Les caractères doivent être encodés en UTF-8.<br>
      Les valeurs possibles pour kind sont : company, non_profit, government.
    </p>
    <%= simple_form_for [:admin, @import] do |f| %>
      <%= f.input :file %>
      <% content_for :action_bar_right do %>
        <%= submit f %>
      <% end %>
    <% end %>

  </div>
  <div class="col-md-6">
    <table class="table table-small">
      <tbody>
        <tr>
          <th>name*</th>
          <td>Le Monde</td>
        </tr>
        <tr>
          <th>long_name</th>
          <td>Société Editrice du Monde</td>
        </tr>
        <tr>
          <th>kind</th>
          <td>company</td>
        </tr>
        <tr>
          <th>siren</th>
          <td>433891850</td>
        </tr>
        <tr>
          <th>nic</th>
          <td>00052</td>
        </tr>
        <tr>
          <th>description</th>
          <td>Le quotidien de référence</td>
        </tr>
        <tr>
          <th>address</th>
          <td>13 rue Auguste Blanqui</td>
        </tr>
        <tr>
          <th>zipcode</th>
          <td>75013</td>
        </tr>
        <tr>
          <th>city</th>
          <td>Paris</td>
        </tr>
        <tr>
          <th>country</th>
          <td>FR</td>
        </tr>
        <tr>
          <th>email</th>
          <td>contact@lemonde.fr</td>
        </tr>
        <tr>
          <th>phone</th>
          <td>+33 1 01 01 01 01</td>
        </tr>
        <tr>
          <th>url</th>
          <td>https://www.lemonde.fr</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
