/* https://google-webfonts-helper.herokuapp.compoppins?subsets=latin */
/* poppins-300 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: asset-url('poppins/poppins-v20-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       asset-url('poppins/poppins-v20-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       asset-url('poppins/poppins-v20-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       asset-url('poppins/poppins-v20-latin-300.woff') format('woff'), /* Modern Browsers */
       asset-url('poppins/poppins-v20-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       asset-url('poppins/poppins-v20-latin-300.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: asset-url('poppins/poppins-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       asset-url('poppins/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       asset-url('poppins/poppins-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       asset-url('poppins/poppins-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       asset-url('poppins/poppins-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       asset-url('poppins/poppins-v20-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: asset-url('poppins/poppins-v20-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       asset-url('poppins/poppins-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       asset-url('poppins/poppins-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       asset-url('poppins/poppins-v20-latin-500.woff') format('woff'), /* Modern Browsers */
       asset-url('poppins/poppins-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       asset-url('poppins/poppins-v20-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
}
