<h2>À découvrir</h2>
<div class="row websites--grid">
  <% @highlighted_websites.each do |website| %>
    <% cache website do %>
      <div class="col-md-6 col-xl-4">
        <article class="position-relative">
          <% if website.screenshot_full_page.attached? %>
            <div class="media">
              <%= kamifusen_tag website.screenshot_full_page,
                                width: 600,
                                class: 'img-fluid screenshot-full-page mb-3' %>
            </div>
          <% end %>
          <p>
            <%= link_to website.original_localization.to_s,
                        showcase_website_path(website),
                        class: 'stretched-link' %>
            <span class="float-end">
              <%= website.in_production_at.year %>
            </span>
          </p>
        </article>
      </div>
    <% end %>
  <% end %>
</div>
