<% content_for :title, @title %>

<h1><%= @title %></h1>

<% unless params.has_key?(:page) %>
  <%= render 'highlight' if @highlighted_websites.any? %>
  <%= render 'filters' %>
<% end %>

<%= render 'list' %>
