<% content_for :title, 'Instances' %>

<h1>Instances</h1>

<ul class="instances">
  <% @instances.each do |instance| %>
    <li>
      <% if instance.logo.attached? %>
        <%= kamifusen_tag instance.logo, class: 'img-fluid' %>
      <% else %>
        <%= instance %>
      <% end %>
    </li>
  <% end %>
</ul>