<% content_for :title, 'Instances' %>

<h1>Instances</h1>

<ul class="instances">
  <% @instances.each do |instance| %>
    <li>
    <article>
      <% if instance.logo.attached? %>
        <picture><%= kamifusen_tag instance.logo, alt: instance %></picture>
      <% else %>
        <%= instance %>
      <% end %>
    </article>
    </li>
  <% end %>
</ul>