main.content
    padding-bottom: 65px

.sidebar
    footer
        a
            padding: .125rem

.sidebar.collapsed + .footer.fixed
    left: 260px
    @include media-breakpoint-up(lg)
        left: 0

.footer.fixed
    bottom: 0
    left: 0
    padding: .5rem
    position: fixed
    right: 0
    transition: left .35s ease-in-out
    z-index: 1
    @include media-breakpoint-up(lg)
        left: 260px


.card-footer
    .pagination
        margin-bottom: 0

.alert
    padding: .95rem
