h1
    margin-bottom: 30px

.sidebar-nav .fas
    min-width: 20px

body, body[data-theme=dark]
    .sidebar
        background: black
    .sidebar-content
        background-color: black
        background-image: asset-url('sun.svg')
        background-repeat: no-repeat
        background-position-x: center
        background-position-y: -420px
        background-size: 400%
    .sidebar-brand
        padding: 90px 80px 120px
    .disabled
        opacity: 0.6
        pointer-events: none

#topbar
    padding-left: 2.5rem
    padding-right: 2.5rem
    .nav-link--last
        padding-right: 0
