.treeview
    &__branch
        & > .treeview__label
            & > a .close_btn
                display: none
            & > a .open_btn
                display: inline
        & > .treeview__children
            display: none
            margin-left: 15px

        &--opened
            & > .treeview__label
                & > a .close_btn
                    display: inline
                & > a .open_btn
                    display: none
            & > .treeview__children
                display: block

    &__leaf
        & > .treeview__label
            & > a .close_btn
                display: none
            & > a .open_btn
                display: none

        & > .treeview__children
            display: none
