.treeview
    &__element
        & > .treeview__children .treeview__empty
            display: none

        & > .treeview__label
            & > a .close_btn
                display: none
            & > a .open_btn
                display: inline
            & > .move_btn
                opacity: 0
                transition: opacity 0.1s
        &:hover
            & > .treeview__label
                & > .move_btn
                    opacity: 1

        & > .treeview__children
            display: none

        &--opened
            & > .treeview__label
                & > a .close_btn
                    display: inline
                & > a .open_btn
                    display: none
            & > .treeview__children
                display: block

        &--loaded
            & > .treeview__children .treeview__loading
                display: none

        &--empty
            & > .treeview__children .treeview__empty
                display: inline
