.treeview
    .branch
        .close_btn
            display: none
        .open_btn
            display: inline
        .children
            display: none
            margin-left: 15px

        &.opened
            .close_btn
                display: inline
            .open_btn
                display: none
            .children
                display: block
