<% content_for :title, t('extranet.data') %>
<% content_for :header do %>
  <h1><%= t('extranet.data') %></h1>
<% end %>

<div class="row">
  <% @metrics.each do |metric| %>
    <% 
    value = metric[:value]
    next if value.zero?
    name = metric[:name]
    %>
    <div class="col-md-3">
      <p class="h1 mb-0"><%= value %></p>
      <p><%= name %></p>
    </div>
  <% end %>
</div>