<% content_for :title, Communication::Extranet::Localization.human_attribute_name('privacy_policy') %>
<% content_for :header do %>
  <h1><%= Communication::Extranet::Localization.human_attribute_name('privacy_policy') %></h1>
<% end %>

<div class="content">
  <%= sanitize @extranet_l10n.privacy_policy %>
</div>