<% content_for :title, Communication::Extranet::Localization.human_attribute_name('terms') %>
<% content_for :header do %>
  <h1><%= Communication::Extranet::Localization.human_attribute_name('terms') %></h1>
<% end %>

<div class="content">
  <%= sanitize @extranet_l10n&.terms %>
</div>