<% include_id ||= false %>
<div class="nested-fields">
  <div class="row">
    <div class="col-md-5">
      <%= f.association :person,
                        collection: @teacher_people,
                        label: false,
                        include_blank: :translate,
                        required: true %>
    </div>
    <div class="col-md-6">
      <%= f.input :description,
                  as: :string,
                  label: false,
                  placeholder: University::Person::Involvement.human_attribute_name('description'),
                  wrapper: false %>
    </div>
    <div class="col-md-1 text-end">
      <%= link_to_remove_association  '<i class="fas fa-trash"></i>'.html_safe,
                                      f,
                                      class: 'btn btn-sm btn-danger' %>
    </div>
  </div>
  <%= f.hidden_field :id if include_id %>
</div>
