<% content_for :title, Research::Journal.model_name.human(count: 2) %>

<h1><%= Research::Journal.model_name.human(count: 2) %></h1>

<div class="row">
  <% @journals.each do |journal| %>
    <div class="col-md-6">
      <h2 class="mt-5"><%= journal %></h2>
      <p><%= journal.description %></p>
      <%= link_to 'Lire', journal, class: 'btn btn-primary stretched-link' %>
    </div>
  <% end %>
</div>
