<%= permalink.about %>
<span class="badge bg-light text-black">
  <%=  permalink.about_type
                .remove('::Localization')
                .constantize
                .model_name
                .human %>
</span>