<div  class=" content-editor__elements
              content-editor--organize
              js-content-editor-sortable-container">
  <% about.headings.root.ordered.each do |heading| %>
    <%= render 'admin/communication/blocks/headings/heading-for-mode-structure', heading: heading %>
  <% end %>
</div>
