<%= render 'admin/communication/blocks/add', about: about if about.large_number_of_blocks? %>
<div  class=" content-editor__elements
              content-editor--write
              content-editor__elements__root
              js-content-editor-sortable-container"
      id="content-editor-elements-root">
  <% about.blocks.ordered.each do |block| %>
    <%= render 'admin/communication/blocks/block/show', block: block %>
  <% end %>
</div>
<%= render "admin/communication/blocks/paste_block", about: about %>
<%= render 'admin/communication/blocks/add', about: about %>
