<% content_for :title, @category %>
<div class="row">
  <div class="col-md-8">

  </div>

  <div class="col-md-4">
  </div>
</div>

<% content_for :action_bar_left do %>
  <%= destroy_link @category %>
<% end %>

<% content_for :action_bar_right do %>
  <%= edit_link @category %>
<% end %>
