<% content_for :title, Qualiopi.model_name %>

<div class="row">
  <% @criterions.each do |criterion| %>
    <div class="col-md-6">
      <h2 class="mt-5"><%= link_to criterion, [:admin, criterion] %></h2>
      <p><%= criterion.name %></p>
      <% criterion.indicators.each do |indicator| %>
        <h3 class="h4"><%= link_to indicator, [:admin, indicator] %></h3>
        <p><%= indicator.name %></p>
      <% end %>
    </div>
  <% end %>
</div>
