<div class="row mt-n5 posts-list">
  <% posts.each do |post| %>
    <article class="col-lg-4">
      <div class="position-relative mt-5">
        <% if post.featured_image.attached? && post.featured_image.representable? %>
          <%= kamifusen_tag post.featured_image, width: 800, height: 500, class: 'img-fluid' %>
        <% end %>
        <p class="mt-2">
          <b><%= post %></b><br>
          <span class="text-muted"><%= l post.published_at.to_date %><span>
        </p>
        <%= link_to t('extranet.posts.read_post'), 
                    posts_post_path(date: post.published_at.strftime('%Y-%m-%d'), slug: post.slug), 
                    class: ' btn btn-outline-primary stretched-link' %>
      </div>
    </article>
  <% end %>
</div>