<div class="row">
  <% posts.each do |post| %>
    <div class="col-lg-4">
      <div class="position-relative">
        <% if post.featured_image.attached? && post.featured_image.analyzed? && post.featured_image.representable? %>
          <%= kamifusen_tag post.featured_image.variant(resize_to_fill: [800, 500]), class: 'img-fluid' %>
        <% end %>
        <%= link_to post, posts_communication_extranet_post_path(post.slug), class: 'stretched-link' %>
      </div>
    </div>
  <% end %>
</div>