<% content_for :title, @post %>

<% content_for :header_right do %>
  <% if @post.featured_image.attached? %>
    <figure <% if @post.featured_image_credit.present? %>class="with-credit"<% end %>>
      <%= kamifusen_tag @post.featured_image, class: 'img-fluid', width: 300 %>
      <% if @post.featured_image_credit.present? %>
        <figcaption tabindex="0">
            <%= sanitize @post.featured_image_credit %>
        </figcaption>
      <% end %>
    </figure>
  <% end %>
<% end %>

<%= link_to @post.category, posts_category_path(slug: @post.category.slug) if @post.category %>

</main>
<%= render 'admin/communication/blocks/show', about: @post %>
<main>
