<% content_for :title, @post %>

<% content_for :header_right do %>
  <% if @post.featured_image.attached? %>
    <%= kamifusen_tag @post.featured_image, class: 'img-fluid', width: 300 %>
  <% end %>
<% end %>

<%= link_to @post.category, posts_category_path(slug: @post.category.slug) if @post.category %>

</main>
<%= render 'admin/communication/blocks/preview', about: @post %>
<main>
