<% if organizations.any? %>
  <div class="row">
    <% organizations.each do |organization| %>
      <%
      l10n = organization.best_localization_for(current_language)
      %>
      <div class="col-md-3">
        <div class="position-relative mb-5">test
          <%= kamifusen_tag l10n.logo, 
                            width: 400, 
                            class: 'img-fluid organization__logo mb-2' if l10n.logo.attached? %>
          <%= link_to l10n, 
                      [:contacts, organization], 
                      class: 'stretched-link' %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>Pas de résultat</p>
<% end %>