<div class="row">
<% @organizations.each do |organization| %>
  <div class="col-md-3">
    <%= kamifusen_tag organization.logo, width: 400, class: 'img-fluid' if organization.logo.attached? %>
    <p class="mb-0"><%= link_to organization, [:contacts, organization], class: 'stretched-link' %></p>
  </div>
<% end %>
</div>
