<div  class=" offcanvas
              offcanvas-end 
              content-editor__offcanvas" 
      tabindex="-1" 
      id="offcanvasEditor"
      aria-labelledby=offcanvasEditorLabel">
  <div class="offcanvas-header border-bottom">
    <h5 class="offcanvas-title" id="offcanvasEditor">Édition de bloc</h5>
    <button type="button" 
            class="btn-close" 
            data-bs-dismiss="offcanvas" 
            aria-label="Close"></button>
  </div>
  <iframe id="editor" name="editor" style="width: 100%; height: 100%;"></iframe>
</div>