<div class="card mt-5">
  <div class="card-header">
    <div class="float-end">
      <%= link_to t('edit'),
                  admin_communication_website_home_path(website_id: @website),
                  class: button_classes if can?(:update, Communication::Website::Home) %>
    </div>
    <h2 class="card-title">
      <%= Communication::Website::Home.model_name.human %>
    </h2>
  </div>
  <div class="card-body">
    <div class="row">
      <% unless @website.home.text.blank? %>
        <div class="col-md-6">
          <%= @website.home.text %>
        </div>
      <% end %>
      <% if @website.home.featured_image.attached? %>
        <div class="col-md-6">
          <%= image_tag @website.home.featured_image.variant(resize: '300x^'), class: 'img-fluid' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
