<div class="row g-3">
  <% organizations.each do |organization| %>
    <div class="col-6 col-lg-3 col-xxl-2">
      <div class="card mb-0">
        <%= osuny_thumbnail_localized organization, large: true, cropped: false %>
        <div class="card-body">
          <%= osuny_published_localized organization %>
          <%= osuny_link_localized  organization,
                                    admin_university_organization_path(organization),
                                    classes: 'stretched-link' %>
        </div>
      </div>
    </div>
  <% end %>
</div>