<div class="row g-3">
  <% organizations.each do |organization| %>
    <div class="col-6 col-lg-3 col-xxl-2">
      <div class="card mb-0">
        <%= osuny_thumbnail organization, 
                            large: true,
                            cropped: false %>
        <div class="card-body">
          <p class="mb-0"><%= link_to organization, 
                                      admin_university_organization_path(organization), 
                                      class: 'text-black stretched-link'  %></p>
          <p class="small text-muted mb-0"><%= sanitize organization.summary %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>