.vue__cropper
    &__button
        background: white
        border-radius: $border-radius
        cursor: pointer
        padding: 5px
        position: absolute
        right: 10px
        top: 10px
        z-index: 10
    &__preview
        overflow: hidden
        position: relative
        width: 100%
    .modal-body
        background: #000000
    .vue-advanced-cropper
        height: 100%
