.vue__selected-media
    container-type: inline-size
    position: relative
    &__link
        background: white
        border-radius: $border-radius
        cursor: pointer
        padding: 3px 10px 4px
        position: absolute
        right: 48px
        top: 12px
    &__publication
        position: absolute
        left: 10px
        @container (width > 200px)
            background: white
            border-radius: $border-radius
            bottom: 10px
            padding: 2px 8px
        @container (width < 200px)
            bottom: 3px
            .vue__selected-media__label
                display: none