<%= block_component_snippet block, :description %>
<% block.template.elements.each do |element| %>
  <div class="row mb-3">
    <% if element.image.present? && element.image['id'].present? %>
      <div class="col-2">
        <%= block_component_snippet block, :image, template: element %>
      </div>
    <% end %>
    <div class="col-10">
      <p class="mb-0"><b><%= element.title %></b></p>
      <%= block_component_snippet block, :description, template: element %>
    </div>
  </div>
<% end %>