<%= simple_form_for teacher, url: admin_education_teacher_path(teacher) do |f| %>
  <div class="card flex-fill w-100">
    <div class="card-header">
      <h5 class="card-title mb-0"><%= Education::Program.model_name.human(count: 2) %></h5>
    </div>
    <div class="card-body">
      <%= f.association :education_programs,
                        as: :check_boxes,
                        legend_tag: false,
                        collection: current_university.list_of_programs,
                        label_method: ->(p) { sanitize p[:label] },
                        value_method: ->(p) { p[:id] }  %>
    </div>
  </div>

  <% content_for :action_bar_right do %>
    <%= submit f %>
  <% end %>
<% end %>
