select.form-select,
input.form-select[type=date],
input.form-select[type=time],
input.form-control[type=text],
input.form-control[type=email],
input.form-control[type=tel],
input.form-control[type=password],
input.form-control[type=url],
input.form-control[type=file],
label.form-check-label,
textarea.form-control
    font-size: pxToRem(16)
    font-family: $font-family-sans-serif

select.form-select,
input.form-select[type=date],
input.form-control[type=text],
input.form-control[type=email],
input.form-control[type=tel],
input.form-control[type=password],
input.form-control[type=url],
input.form-control[type=file],
textarea.form-control
    background-color: $color-white

.form-label
    color: $color-text-alt

.form-control
    &:focus 
        background: white