<div class="row">
  <% websites.each do |website| %>
    <div class="col-sm-6 col-lg-4 col-xl-3">
      <%= render 'admin/communication/websites/website', website: website %>
    </div>
  <% end %>
</div>