<div class="row">
  <% websites.each do |website| %>
    <div class="col-sm-6 col-lg-4 col-xl-3">
      <div class=" position-relative mb-5">
        <div class="ratio bg-light rounded" style="--bs-aspect-ratio: 62.5%">
          <%= kamifusen_tag website.screenshot, width: 500, class:'img-fluid rounded' if website.screenshot.attached? %>
        </div>
        <p class="strong mt-2 mb-0">
          <%= website %>
          <%= link_to t('show'), [:admin, website], class: 'float-end action stretched-link' %>
        </p>
      </div>
    </div>
  <% end %>
</div>