<div class="card">
  <div class="ratio rounded-top bg-light" style="--bs-aspect-ratio: 62.5%">
    <%= kamifusen_tag website.screenshot,
                      class:'img-fluid rounded-top',
                      cached: true if website.screenshot.attached? %>
  </div>
  <div class="card-body border-top border-light">
    <%= osuny_link_localized  website,
                              admin_communication_website_path(id: website.id),
                              classes: 'stretched-link' %>
  </div>
</div>
