<% content_for :title, t('communication.website.analytics') %>
<%= render 'admin/communication/websites/sidebar' do %>
    <iframe plausible-embed 
            src="<%= @website.plausible_url %>&embed=true&theme=light&background=transparent" 
            scrolling="no" 
            frameborder="0" 
            loading="lazy" 
            style="width: 1px; min-width: 100%; height: 1600px; margin-top: -50px"></iframe>
    <div>Stats powered by <a target="_blank" style="color: #4F46E5; text-decoration: underline;" href="https://plausible.io">Plausible Analytics</a></div>
    <script async src="https://plausible.io/js/embed.host.js"></script>
<% end %>