<% content_for :title, "#{Communication::Website.model_name.human(count: 2)} (#{@websites.total_count})" %>

<%= render 'filters', current_path: admin_communication_websites_path, filters: @filters if @filters.any?  %>
<div class="pt-5">
  <%= render 'admin/communication/websites/list', websites: @websites %>
  <%= paginate @websites %>
</div>

<% content_for :action_bar_right do %>
  <%= create_link Communication::Website %>
<% end %>
