<% content_for :title, t('communication.website.security') %>

<%= osuny_panel "CSP" do %>
  <ul class="list-unstyled">
    <% @website.allowed_domains.each do |domain| %>
      <li><%= domain %></li>
    <% end %>
  </ul>
<% end %>