<% content_for :title, Education::AcademicYear.model_name.human(count: 2) %>

<header class="mb-5">
  <h1><%= Education::AcademicYear.model_name.human(count: 2) %></h1>
</header>

<%= render 'extranet/academic_years/list', academic_years: @academic_years %>
