<% content_for :title, t('server_admin.dashboard') %>

<div class="row">
  <% @parts.each do |part| %>
    <div class="col-md-6 d-flex">
      <%= osuny_panel part[:title] do %>
        <%= link_to 'Voir la liste', part[:path], class: 'btn btn-sm btn-primary stretched-link' %>
      <% end %>
    </div>
  <% end %>
</div>

<%= osuny_panel 'Monitoring' do %>
  <%= render 'server/websites/list', websites: @websites %>
<% end %>
