<%
cc = Licenses::CreativeCommons.create_from_block(block) 
%>
<div class="<%= block_html_class(block) %>">
  <div class="container">
    <div class="block-content">
      <%= render 'admin/communication/blocks/partials/top', block: block %>

      <div class="license">
        <a href="<%= cc.url %>" target="_blank" rel="noreferrer">
          <%= render 'admin/communication/blocks/templates/license/creative_commons/badge', block: block %>
        </a>
      </div>
    </div>
  </div>
</div>
