<p><%= t('mailers.notifications.gdpr_deletion_incoming.body_1_html', delay: Gdpr::UserDeletionService::WARNING_DELAY) %></p>
<p><%= t('mailers.notifications.gdpr_deletion_incoming.body_2_html', link: new_user_session_url) %></p>
<p><%= t('mailers.yours') %></p>