<p><%= t('mailers.notifications.low_sms_credits.body_1_html', credits: @credits) %></p>
<p><%= t('mailers.notifications.low_sms_credits.body_2_html', link: 'https://app.sendinblue.com/billing/addon/customize/sms') %></p>
<p><%= t('mailers.yours') %></p>