<p><%= t('mailers.notifications.new_registration.body_1_html', username: @user.to_s) %></p>
<p><%= t('mailers.notifications.new_registration.body_2_html', link: admin_user_url(@user)) %></p>
<p><%= t('mailers.yours') %></p>