<p><%= t('mailers.notifications.website_git_access_broken.text_line_1_html', website: @website) %></p>
<p><%= t('mailers.notifications.website_git_access_broken.text_line_2_html', error: @error_message) %></p>
<p><%= t('mailers.notifications.website_git_access_broken.text_line_3_html', url: @url) %></p>
<p><%= t('mailers.yours') %></p>
