<div>
  <div class="<%= osuny_card_classes(horizontal: true) %> card--all">
    <div class="osuny__thumbnail osuny__thumbnail--small">
      <span class="osuny__thumbnail__initials">
        <%= lucide_icon('arrow-right') %>
      </span>
    </div>
    <div class="card-body">
      <a href="<%= link %>" class="stretched-link"><%= t('admin.item.see_all') %></a>
    </div>
  </div>
</div>