<% if content_for?(:action_bar_left) or content_for?(:action_bar_right) %>
  <div class="commands container-fluid">
    <div class="d-flex py-3">
      <div>
        <%= yield :action_bar_left %>
      </div>
      <div class="ms-auto">
        <%= yield :action_bar_right %>
      </div>
    </div>
  </div>
<% end %>