<div class="d-flex">
  <div>
    <button type="button" 
            class="btn border border-dark pe-5" 
            aria-label="<%= t('admin.search.label') %>"
            data-bs-toggle="modal"
            data-bs-target="#searchModal">
      <%= lucide_icon 'search' %>
      <span><%= t('admin.search.button') %></span>
    </button>
  </div>
</div>

<div  class="modal fade collapse" 
      id="searchModal" 
      tabindex="-1" 
      aria-modal="true" 
      role="dialog">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content bg-transparent border-0">
      <div class="modal-header bg-transparent border-0 p-0" style="max-width: 400px; margin: 100px auto">
        <div class="d-flex align-items-center">
          <input  class="form-control form-control-lg" 
                  placeholder="<%= t('admin.search.placeholder') %>"
                  style="min-width: 300px;"
                  name="term" 
                  autofocus />
          <span data-bs-theme="dark">
            <button type="button" 
                    class="btn-close" 
                    data-bs-dismiss="modal" 
                    aria-label="Close"></button>
          </span>
        </div>
      </div>
      <div class="container-fluid">
      </div>
    </div>
  </div>
</div>