<% if current_subnav_context.present? %>
  <nav class="navbar navbar-light navbar-expand-md subnav">
    <div class="container-fluid">
      <button class="navbar-toggler" 
              type="button" 
              data-bs-toggle="collapse" 
              data-bs-target="#subnav" 
              aria-controls="menu" 
              aria-expanded="false" 
              aria-label="Toggle menu">
        <%= lucide_icon('menu') %>
      </button>
      <div class="collapse navbar-collapse" id="subnav">
        <%= render_navigation context: current_subnav_context %>
      </div>
    </div>
  </nav>
<% end %>