<%
size = large ? 300 : 100
image_class = 'img-fluid'
%>

<div class="osuny__thumbnail 
            osuny__thumbnail--<%= large ? 'large' : 'small' %>
            osuny__thumbnail--<%= cropped ? 'cropped' : 'uncropped' %>">

  <% if image && image.attached? %>
    <% if image.variable? %>
      <% image_format = !cropped ? image.variant(resize_to_fit: [size, size]) : image.variant(resize_to_fill: [size, size, gravity: 'center']) %>
      <% image_class = !cropped ? ' img-fluid h-100 w-100 object-fit-contain' : image_class %>
    <% else %>
      <% image_format = image %>
    <% end %>
    <%= image_tag image_format, class: image_class, loading: 'lazy' %>
  <% else %>
    <span class="osuny__thumbnail__initials">
      <%= initials %>
    </span>
  <% end %>
</div>