<% @organizations.each do |organization| %>
  <div class="organization row">
    <div>
      <p><%= link_to organization, organization %></p>
    </div>
    <div>
      <% if organization.url %>
        <p><small><%= link_to organization.url, organization.url %></small></p>
      <% end %>
    </div>
  </div>
<% end %>
