<% @organizations.each do |organization| %>
  <div class="organization">
    <p><%= link_to organization, organization %></p>
    <% if organization.url %>
      <p><small><%= link_to organization.url, organization.url %></small></p>
    <% end %>
  </div>
<% end %>
