.content-editor
    &__elements
        &__root
            &--dragging-heading
                .content-editor__elements__element--block
                    display: none
        &__element
            &--heading
                &.sortable-chosen
                    .content-editor__elements
                        display: none
            &--hover
                opacity: 0
                transition: opacity 0.25s ease
            // @alex @olivia désolé
            // j'ai besoin de rendre visible le hover du heading mais pas tous les enfants pour autant
            // @arnaud
            &:hover
                > .content-editor__elements__element--hover,
                > * > .content-editor__elements__element--hover,
                > * > * > .content-editor__elements__element--hover,
                > * > * > * > .content-editor__elements__element--hover,
                > * > * > * > * > .content-editor__elements__element--hover
                    opacity: 1
        &__handle
            margin-left: 10px
            .fas
                font-size: px2rem(13)
            .handle
                margin-right: 0

.sortable-ghost
    opacity: 0.3
