.filters
    position: relative
    &__button
        position: absolute
        top: 0
        right: 0
        min-width: 100px
    &__content
        padding-bottom: 30px
        padding-right: 200px
