.filters
    &__button
        min-width: 100px
        @media (min-width: 768px)
            position: absolute
            right: 0
            top: 0
    &__content
        padding-bottom: 30px
        @media (min-width: 768px)
            padding-right: 200px
