<% content_for :title, "#{@websites.count} #{Communication::Website.model_name.human(count: @websites.count).downcase}" %>

<p><%= Communication::Website.in_production.count %> en production</p>

<%= render 'server/websites/list', websites: @websites %>