<% content_for :title, 'Showcase' %>

<h1>Showcase</h1>

<div class="my-5">
  <% @tags.each do |tag| %>
    <% next if tag.websites.none? %>
    <%= link_to "#{tag} <span class=\"badge bg-dark text-light rounded-pill\">#{tag.websites.count}</span>".html_safe, 
                showcase_tag_path(tag.slug), 
                class: 'btn btn-outline-light rounded-pill mb-2 me-2 px-4 py-3' %>
  <% end %>
</div>

<%= render 'list' %>