<div class="row g-2">
  <% @program.cohorts.ordered.each do |cohort| %>
    <div>
      <div class="card card--horizontal">
        <div class="card-body">
          <%= link_to cohort.academic_year, [:admin, cohort], class: 'stretched-link' %>
          <span class="small text-muted">
            <%= cohort.school.to_s_in(current_language) %>
          </span>
        </div>
        <div class="card-footer small text-muted">
          <%= cohort.people.count %>
          <%= University::Person::Alumnus.model_name.human(count: cohort.people.count).downcase %>
        </div>
      </div>
    </div>
  <% end %>
</div>