<% if locations.any? %>
  <%= osuny_label Education::Program.human_attribute_name('locations') %>
  <ul class="list-unstyled mb-4">
    <% locations.ordered(current_language).each do |location| %>
      <li><%= osuny_link_localized_if can?(:read, location), location, [:admin, location] %></li>
    <% end %>
  </ul>
<% end %>