<div class="row g-2 mb-3">
  <% locations.each do |location| %>
    <div>
      <div class="<%= osuny_card_classes(horizontal: true) %>">
        <%= osuny_thumbnail_localized location %>
        <div class="card-body">
        <%= osuny_link_localized location, [:admin, location] %>
        </div>
        <div class="card-footer small text-muted">
          <%= location.full_street_address %>
        </div>
      </div>
    </div>
  <% end %>
</div>
