<% content_for :title, @app %>

<div class="row">
  <div class="col-lg-6">
    <%= osuny_label University::App.human_attribute_name('token') %>
    <input type="string" value="<%= @app.token %>" class="form-control" disabled>
  </div>
</div>

<% content_for :action_bar_right do %>
  <%= edit_link @app %>
<% end %>
