<%= osuny_panel Communication::Website.human_attribute_name('features') do %>
  <div class="row">
    <div class="col-lg-4">
      <%= f.input :feature_posts %>
    </div>
    <div class="col-lg-4">
      <%= f.input :feature_agenda %>
    </div>
    <div class="col-lg-4">
      <%= f.input :feature_portfolio %>
    </div>
  </div>
<% end %>