<% if categories.any? %>
  <div class="row">
    <% categories.taxonomies.each do |taxonomy| %>
      <div class="col-lg-6 col-xxl-4">
        <%= f.association :categories,
                          label: taxonomy.to_s_in(current_language),
                          as: :tree,
                          language: current_language,
                          collection: taxonomy.children %>
      </div>
    <% end %>
    <% if categories.free.any? %>
      <div class="col-lg-6 col-xxl-4">
        <%= f.association :categories,
                          label: t('category.title'),
                          as: :tree,
                          language: current_language,
                          collection: categories.free %>
      </div>
    <% end %>
  </div>
<% end %>