<article class="mb-4 d-flex align-items-center position-relative">
  <% if researcher.best_picture.attached? %>
    <div class="me-3" style="width: 80px">
      <%= kamifusen_tag researcher.best_picture, width: 80, class: 'img-circle' %>
    </div>
  <% end %>
  <div>
    <%= link_to researcher, admin_research_researcher_path(researcher), class: 'stretched-link' %>
  </div>
</article>
