<header class="header">
  <div class="container">
    <%= render_breadcrumbs builder: Appstack::BreadcrumbsOnRailsBuilder if breadcrumbs.any? %>
    <% if content_for(:header).present? %>
      <%= yield :header %>
    <% else %>
      <h1><%= yield :title %></h1>
      <p class="header__additional_data">
        <% if content_for(:header_right).present? %>
          <%= yield :header_right %>
        <% else %>
          &nbsp;
        <% end %>
      </p>
    <% end %>
  </div>
</header>