<div class="row g-2">
  <% authors.each do |author| %>
    <div>
      <div class="card card--horizontal">
        <%= osuny_thumbnail author %>
        <div class="card-body">
          <%= link_to author, 
                      admin_communication_website_post_author_path(website_id: @website.id, id: author.id),
                      class: 'text-black' %>
        </div>
        <div class="card-footer">
          <%= author.communication_website_posts.count %>
        </div>
      </div>
    </div>
  <% end %>
</div>
