<div class="row g-2">
  <% authors.each do |author| %>
    <div>
      <div class="<%= osuny_card_classes(horizontal: true) %>">
        <%= osuny_thumbnail_localized author %>
        <div class="card-body">
          <%= osuny_link_localized  author, 
                                    admin_communication_website_post_author_path(website_id: @website.id, id: author.id) %>
        </div>
        <div class="card-footer">
          <%= author.communication_website_posts.count %>
        </div>
      </div>
    </div>
  <% end %>
</div>
