<%= simple_format @l10n.invitation_message_text %>

<p>
  <%= t('mailers.extranet.invitation_message.cta_html',
        email: @email,
        sign_in_url: new_user_session_url(email: @email, host: @extranet.host)) %>
</p>

<p><%= t('mailers.yours') %></p>
