<div class="row">
  <% block.template.selected_elements.each do |element|
    person = element.person
    next if person.nil?
    l10n = person.best_localization_for(person)
    %>
    <div class="col-6 col-xxl-2 col-lg-3 mb-3">
      <%= osuny_thumbnail l10n, classes: 'rounded-circle' %>
    </div>
  <% end %>
</div>
