<% pages.each do |page| %>
  <li class="<%= page.has_children? ? 'treeview__branch js-treeview-branch' : 'treeview__leaf' %>" data-id="<%= page.id %>">
    <div class="d-flex align-items-center treeview__label border-bottom p-1">
      <% if page.has_children? %>
        <%= link_to children_admin_communication_website_page_path(website_id: page.website.id, id: page.id),
                    class: 'js-treeview-element d-inline-block p-2 ps-0', style: 'width: 22px', remote: true do %>
          <span class="open_btn"><i class="fas fa-folder"></i></span>
          <span class="close_btn"><i class="fas fa-folder-open"></i></span>
        <% end %>
      <% end %>
      <%= link_to page, admin_communication_website_page_path(website_id: page.website.id, id: page.id) %>
      <span class="move_btn ps-2"><i class="fas fa-grip-vertical"></i></span>
    </div>
    <% if page.has_children? %>
      <ul class="list-unstyled treeview__children js-treeview-children js-treeview-sortable ms-4">
        <li>loading...</li>
      </ul>
    <% end %>
  </li>
<% end %>
