<% content_for :title, @page %>

<p>
  <strong>Description</strong>
  <%= @page.description %>
</p>

<p>
  <strong>Slug</strong>
  <%= @page.slug %>
</p>

<p>
  <strong>Path</strong>
  <%= @page.path %>
</p>

<% content_for :buttons do %>
  <%= link_to 'Modifier', edit_admin_communication_website_page_path(@page.id), class: button_classes %>
<% end %>
