<%
@html = Nokogiri::HTML open(@url)
@css_files = @html.xpath '//link[@rel="stylesheet"]/@href'
@css = ''
@css_files.each do |url|
  uri = URI.parse url
  data = Net::HTTP.get uri
  data = data.force_encoding("UTF-8")
  data = data.gsub "src:url(../", "src:url(#{@url}/assets/"
  data = data.gsub ",url(../", ",url(#{@url}/assets/"
  @css << data
end
%>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= yield :title %></title>
    <link rel="stylesheet" media="all" href="<%= style_admin_communication_website_path @website.id, website_id: nil %>" />
  </head>
  <body>
    <main class="page-with-blocks" id="main" role="main" tabindex="-1">
      <div class="blocks">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
