<%
ContactDetails::PHONES.each do |attribute|
  if about.respond_to?(attribute)
    %>
    <div class="col-md-6">
      <%= f.input attribute,
                  label: t("contact_details.phone_numbers.#{attribute}.label"),
                  hint: t("contact_details.phone_numbers.#{attribute}.hint") %>
    </div>
  <% end %>
<% end %>