<%
ContactDetails::SOCIAL_NETWORKS.each do |attribute|
  method_raw = attribute
  method_prefixed = "social_#{attribute}"
  if l10n.respond_to?(method_raw)
    method = method_raw
  elsif l10n.respond_to?(method_prefixed)
    method = method_prefixed
  else
    next
  end
  %>
  <div class="col-md-6">
    <%= lf.input  method,
                  label: t("contact_details.social_networks.#{attribute}.label"),
                  hint: t("contact_details.social_networks.#{attribute}.hint") %>
  </div>
<% end %>
