.layout-devise
    background-color: $header-color
    .logo
        margin: 120px 0
        object-fit: contain
    footer
        margin-top: 100px
        border-top: 1px solid $light-border-color
        padding-bottom: 0