.posts-show header figure
    position: relative
    figcaption
        display: block
        left: 0
        position: absolute
        right: 0
        text-align: right
        z-index: 10
        &::before
            font-family: inter,sans-serif
            font-size: .875rem
            font-weight: 400
            line-height: 150%
            content: '©'
            position: absolute
            right: 0
            top: 0
                        