// Colors
$primary: black

// Fonts
$font-family-sans-serif: "Basier Square", sans-serif
$font-size-root: 1rem
$font-size-base: 1.125rem

$h1-font-size: px2rem(40)
$h2-font-size: px2rem(18)
$h3-font-size: px2rem(20)
$headings-font-weight: 700
$headings-margin-bottom: px2rem(24)
$small-font-size: px2rem(14)

// Links
$link-color: $primary
$link-decoration: none

// Breadcrumb
$breadcrumb-font-size: px2rem(14)
$breadcrumb-active-color: black
$breadcrumb-divider-color: black
$breadcrumb-margin-bottom: 45px

