<div class="row g-3">
  <% users.each do |user| %>
    <div class="col-sm-6 col-lg-3 col-xxl-2">
      <div class="<%= osuny_card_classes %>">
        <%= render 'admin/application/components/thumbnail',
                    image: user.picture,
                    initials: user.initials,
                    large: true,
                    cropped: true
                  %>
        <div class="card-body">
          <p class="mb-1">
            <%= link_to user,
                        admin_user_path(user),
                        class: 'stretched-link'  %>
          </p>
          <p class="small text-muted mb-0">
            <%= t("activerecord.attributes.user.roles.#{user.role}") %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>