<%
value = object.send(property).to_s
if object.respond_to? "best_#{property}"
  value = object.public_send("best_#{property}").to_s
  source = object.public_send("best_#{property}_source")
end
title = object.class.human_attribute_name(property)
if source
  title += ' <span class="small">'
  title += t 'admin.inheritance.sentence_html', link: link_to(source, [:admin, source])
  title += '</span>'
end
%>
<%= osuny_label title %>
<p>
  <% if Static.blank?(value) %>
    <i class="<%= Icon::WARNING %> text-danger"></i>
    <%= t 'properties.text.missing' %>
  <% else %>
    <%= strip_tags(value).truncate(200).html_safe %>
  <% end %>
</p>
