<% content_for :title, 'Instances' %>

<h1>Instances</h1>

<ul class="instances row list-unstyled">
  <% @instances.each do |instance| %>
    <% cache instance do %>
      <li class="col-6 col-sm-4 col-md-3 col-lg-2">
        <article>
          <% if instance.logo.attached? %>
            <%= kamifusen_tag instance.logo, alt: instance %>
          <% else %>
            <span><%= instance %></span>
          <% end %>
        </article>
      </li>
    <% end %>
  <% end %>
</ul>
