<% @block.template.elements.each do |element| %>
  <p class="lead mb-0">
    <b>
      <%= block_component_preview :number, template: element %>
    </b>
    <span class="small">
      <%= block_component_preview :unit, template: element %>
    </span>
  </p>
  <%= block_component_preview :description, template: element %>
<% end %>
