<% content_for :title, Education::School.model_name.human(count: 2) %>

<p>&nbsp;</p><%# Filtres %>
<%= render 'filters', current_path: admin_education_schools_path, filters: @filters if @filters.any?  %>

<%= render 'admin/education/schools/list', schools: @schools %>
<%= paginate @schools %>

<% content_for :action_bar_right do %>
  <%= create_link Education::School %>
<% end %>
