<% @block.template.images_with_alt.each do |image| %>
  <article class="card">
    <% if image.blob %>
      <%= kamifusen_tag image.blob, width: 500, class: 'img-fluid mb-3' %>
    <% end %>
    <div class="card-body">
      <p class="mb-0"><%= image.alt %></p>
      <p class="mb-0 small"><%= image.text %></p>
    </div>
  </article>
<% end %>
