<% @block.template.elements.each do |element| %>
  <article class="card">
    <% if element.image['blob'] %>
      <%= kamifusen_tag element.image['blob'], width: 500, class: 'img-fluid mb-3' %>
    <% end %>
    <div class="card-body">
      <p class="mb-0"><%= element.alt %></p>
      <p class="mb-0 small"><%= element.text %></p>
    </div>
  </article>
<% end %>
