<div class="row">
  <% @block.template.elements.each do |element| %>
    <div class="col-6">
      <article class="card">
        <%= block_component_preview :image, template: element %>
        <div class="card-body">
          <p class="mb-0"><%= element.alt %></p>
          <p class="mb-0 small"><%= element.text %></p>
        </div>
      </article>
    </div>
  <% end %>
</div>
