<h2><%= @block.data['title'] %></h2>
<div class="row">
<% @block.data['elements'].each do |image| %>
    <div class="col-xxl-2 col-xl-3 col-6">
      <article class="card">
        <% unless image.dig('file', 'id').blank? %>
          <% blob = ActiveStorage::Blob.find(image.dig('file', 'id')) %>
          <%= kamifusen_tag blob, width: 500, class: 'img-fluid mb-2' %>
        <% end %>
        <div class="card-body">
          <p class="mb-0"><%= image['alt'] %></p>
        </div>
      </article>
    </div>
<% end %>
</div>
