<div class="row">
  <% @block.template.images_with_alt.each do |image_with_alt|
    image = image_with_alt[:image]
    alt = image_with_alt[:alt]
    %>
    <div class="col-xxl-2 col-xl-3 col-6">
      <article class="card">
        <% if image %>
          <%= kamifusen_tag image, width: 500, class: 'img-fluid mb-2' %>
        <% end %>
        <div class="card-body">
          <p class="mb-0"><%= alt %></p>
        </div>
      </article>
    </div>
    <% end %>
</div>
