<%
block.template.elements.each do |element|
  blob = element.image_component.blob
  next if blob.nil?
%><div class="d-inline-block me-2 mb-2"><%=
  # Strange indent to let no whitespace mess with the spacing
  kamifusen_tag blob, height: 90, alt: ''
%></div><% end %>
