<footer class="mt-5 pt-5">
  <div class="container">
    <div class="mb-5 text-lg-center">
      <%= image_tag 'osuny-black.svg', width: 80 %>
    </div>
    <nav class="nav small d-block d-lg-flex justify-content-lg-center">
      <%= link_to t('terms_of_service'),
                  t('terms_of_service_url'),
                  class: 'nav-link ps-0',
                  target: '_blank',
                  rel: 'noreferrer' %>
      <%= link_to t('privacy_policy'),
                  t('privacy_policy_url'),
                  class: 'nav-link ps-0',
                  target: '_blank',
                  rel: 'noreferrer' %>
      <%= link_to t('cookies_policy'),
                  t('cookies_policy_url'),
                  class: 'nav-link ps-0',
                  target: '_blank',
                  rel: 'noreferrer' %>
    </nav>
  </div>
</footer>
