<footer class="bg-black text-white py-5">
  <div class="container-fluid">
    <div class="d-md-flex justify-content-between mt-5 pt-5">
      <%= link_to 'https://www.osuny.org', target: :_blank, class: 'text-white-50' do %>
        <%= t('admin.footer.signature') %>
      <% end %>
      <ul class="list-unstyled d-md-flex">
        <%
          [
            ['Aide à la contribution', 'https://support.osuny.org'],
            [t('terms_of_service'), t('terms_of_service_url')],
            ['Statut', 'https://status.osuny.org'],
          ].each do |item| 
        %>
          <li>
            <%= link_to item.first, item.last, target: :_blank, class: 'text-white-50' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</footer>