<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/">
      <% if current_website %>
        <%= current_website %><br>
      <% else %>
        <%= current_university %>
      <% end %>
    </a>
  </div>
</nav>
