<div class="toasts-container" style="position: fixed; top: 20px; right: 20px; z-index: 100000;">
  <% unless notice.nil? %>
    <div class="js-notyf-notice d-none">
      <%= notice %>
    </div>
  <% end %>
  <% unless alert.nil? %>
    <div class="js-notyf-alert d-none">
      <%= alert %>
    </div>
  <% end %>
</div>