.container
    @include media-breakpoint-up(md)
        padding-right: var(--bs-gutter-x)
        padding-left: var(--bs-gutter-x)

.action-show
    @include media-breakpoint-up(md)
        .top
            align-items: stretch
            header
                align-items: center
                display: flex
                height: 100%
            h1
                margin: 0
                padding: 0
        .biography
            padding-right: percentage(3/9)
    dl
        line-height: px2rem(26)
        dt
            font-size: $small-font-size
        dd
            margin-bottom: px2rem(26)

ul
    list-style: none