<span class="open_btn">
  <i class="open_btn--without_children <%= Icon::FOLDER_CLOSED %>"></i>
  <i class="open_btn--with_children <%= Icon::FOLDER_CLOSED_FULL %>"></i>
</span>
<span class="close_btn">
  <i class="close_btn--without_children <%= Icon::FOLDER_OPENED %>"></i>
  <i class="close_btn--with_children <%= Icon::FOLDER_OPENED_FULL %>"></i>
</span>