<% content_for :title, @cohort %>

<p>
  <strong>Program:</strong>
  <%= link_to @cohort.program, [:admin, @cohort.program] %>
</p>

<p>
  <strong>Academic year:</strong>
  <%= link_to @cohort.academic_year, [:admin, @cohort.academic_year] %>
</p>

<h2><%= University::Person::Alumnus.model_name.human(count: 2) %></h2>

<%= render 'admin/university/people/alumni/list', alumni: @cohort.people.ordered %>
