<footer class="bg-black py-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <%= link_to 'https://www.osuny.org', target: :_blank do %>
          <%= image_tag 'osuny-white.svg', width: 100 %>
        <% end %>
      </div>
      <div class="col-md-9 text-md-end small">
        <ul class="list-inline">
          <%
            [
              ['Aide à la contribution', 'https://support.osuny.org'],
              ['Aide au code', 'https://developers.osuny.org'],
              ['Site d\'exemple', 'https://example.osuny.org'],
              ['Thème Figma', 'https://www.figma.com/community/file/1176490763864113451'],
              ['Statut', 'https://status.osuny.org'],
            ].each do |item| 
          %>
            <li class="list-inline-item">
              <%= link_to item.first, item.last, target: :_blank %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</footer>