<div class="hero">
  <div class="container-fluid">
    <h1><%= yield :title %></h1>
    <div class="float-md-end mt-md-n4">
      <%= yield :title_right %>
    </div>
    <%= render_breadcrumbs builder: Osuny::BreadcrumbsOnRailsBuilder %>
  </div>
</div>