<div class="hero">
  <div class="container-fluid">
    <%= render_breadcrumbs builder: Osuny::BreadcrumbsOnRailsBuilder %>
    <div class="d-xl-flex mt-5">
      <h1><%= yield :title %></h1>
      <div class="ms-xl-auto text-xl-end mt-2">
        <%= yield :title_right %>
      </div>
    </div>
    <% if content_for(:title_left) %>
      <div class="mt-2">
        <%= yield :title_left %>
      </div>
    <% end %>
  </div>
</div>