<div class="hero">
  <div class="container-fluid">
    <div class="d-flex">
      <h1><%= yield :title %></h1>
      <div class="ms-xl-auto text-xl-end mt-2">
        <%= yield :title_right %>
      </div>
    </div>
    <%= render_breadcrumbs builder: Osuny::BreadcrumbsOnRailsBuilder %>
  </div>
</div>