<div class="position-relative mb-5">
  <p class="strong mt-2 mb-0">
    <%= osuny_link_localized  extranet,
                              admin_communication_extranet_path(
                                id: extranet.id
                              ),
                              classes: 'stretched-link' %>
  </p>
</div>
