<% if about.is_a_translation? %>
  <%
  path = admin_translate_path to: about.language.iso_code,
                              lang: nil,
                              website_id: nil
  %>
  <span id="translation-button" data-translation-url="<%= path %>"> 
    <a class="btn btn-light btn-xs js-translation-start">
      <%= t('admin.translation.button') %>
    </a>
    <span class="spinner-border spinner-border-sm js-translation-loader" role="status" hidden>
      <span class="sr-only">
        <%= t('admin.translation.running') %>
      </span>
    </span>
    <span class="js-translation-done small" hidden>
      <%= t('admin.translation.done') %>
    </span>
  </span>
<% end %>