<% if about.available_languages.many? %>
  <%
    route_args = about.is_direct_object?  ? [:admin, about.becomes(about.class.base_class)]
                                          : [:show_in_language, :admin, about.becomes(about.class.base_class)]
  %>
  <%= osuny_panel t('internationalization.label') do %>
    <ol class="list-unstyled">
      <% about.available_languages.each do |language| %>
        <%
        label = I18nData.languages(I18n.locale)[language.iso_code.to_s.upcase].titleize
        current = language.id == about.language_id
        %>
        <li><%= link_to_unless current, label, [*route_args, lang: language.iso_code] %></li>
      <% end %>
    </ol>
  <% end %>
<% end %>