<%
if about.respond_to?(:website)
  languages = about.website.languages.ordered
  route_args = [:admin, about.becomes(about.class.base_class)]
else
  languages = Language.all.ordered
  route_args = [:admin, about.becomes(about.class.base_class), :translation]
end
%>
<%= osuny_panel t('internationalization.label') do %>
  <ol class="list-unstyled">
    <% languages.each do |language| %>
      <% 
      label = t(language.iso_code, scope: :languages)
      current = language.id == about.language_id
      %>
      <li>
        <%= link_to_unless current, label, [*route_args, lang: language.iso_code] %>
      </li>
    <% end %>
  </ol>
<% end %>
