<%
if about.respond_to?(:website)
  languages = about.website.languages
  route_args = [:admin, about.becomes(about.class.base_class)]
else
  languages = Language.all
  route_args = [:admin, about.becomes(about.class.base_class), :translation]
end
action = "<i class=\"fas fa-language fa-2x float-end \"></i>"
%>
<%= osuny_panel t('internationalization.label'), action: action do %>
  <p><%= t('internationalization.text_html', lang: t("languages.#{about.language.iso_code}")) %></p>
  <h3 class="h5 mt-4"><%= t('internationalization.translations_title') %></h3>
  <ol class="list-unstyled">
    <% languages.each do |language| %>
      <% next if language.id == about.language_id %>
      <li>
        <% if about.original_with_translations.detect { |translation| translation.language_id == language.id }.present? %>
          <i class="fas fa-edit float-end"></i>
        <% else %>
          <i class="fas fa-add float-end"></i>
        <% end %>
        <%= link_to t(language.iso_code, scope: :languages), [*route_args, lang: language.iso_code] %>
      </li>
    <% end %>
  </ol>
<% end %>
