<% if @block.data %>
  <% if @block.template.page %>
    <%= @block.template.page.slug %>
  <% end %>

  <div class="pages">
    <% @block.template.selected_pages.each do |element| %>
      <div>
        <%= element %>
        <% if @block.template.show_image && element.featured_image.attached? %>
          <%= kamifusen_tag element.featured_image,
                            class: 'img-fluid mb-3' %>
        <% end %>
        <% if @block.template.show_description %>
          <p><%= element.description_short %></p>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>