.pagination
    background-color: $color-bg-soft
    border-radius: $border-radius
    display: inline-block
    line-height: 100%
    margin-bottom: $spacing1
    margin-top: $spacing1
    padding: 2px
    span
        display: inline-block
        &.current,
        &.gap,
        a
            border-radius: $border-radius
            padding: 8px 14px
            transition: background 0.25s
        a
            color: black
            display: inline-block
            &:hover
                background: $color-bg
    .page.current
        background: $color-bg
