.photo_import
    &__results
        column-count: 2
        column-gap: 16px
        @include media-breakpoint-up(lg)
            column-count: 3
        &__result
            display: block
            margin-bottom: 16px
            max-width: 100%
    &__media__results
        column-count: 2
        @include media-breakpoint-up(md)
            column-count: 3
        @include media-breakpoint-up(lg)
            column-count: 4
        @include media-breakpoint-up(xl)
            column-count: 5
        @include media-breakpoint-up(xxl)
            column-count: 6