<div class="row">
  <div class="col-lg-4">
    <%= render 'admin/communication/websites/pages/show/metadata' %>
    <%= render 'admin/application/i18n/widget', about: @page, small: true %>
  </div>
  <div class="col-lg-8">
    <%= render 'admin/application/summary/show', about: @page, small: true %>
    <%= render 'admin/application/meta_description/show', about: @page, small: true %>
  </div>
</div>
