<div class="row">
  <div class="col-lg-7">
    <%= osuny_panel Communication::Website::Page.human_attribute_name(:title), small: true do %>
      <p class="lead"><%= @page.title %></p>
    <% end %>
  </div>
  <div class="offset-lg-1 col-lg-4">
    <%= render 'admin/application/featured_image/show', about: @page, small: true %>
  </div>
</div>
