<% if @page.is_special_page? %>
  <% if @page.has_template_blocks? %>
    <% if @l10n.blocks.none? && @l10n.language.iso_code == "fr" %>
      <div class="row">
        <div class="offset-lg-4 col-lg-8">
          <%= link_to 'Générer la déclaration',
                      generate_admin_communication_website_page_path(@page),
                      method: :post,
                      class: button_classes %>
          <p class="mt-1">Le modèle de déclaration est conforme au droit français</p>
        </div>
      </div>
    <% end %>
  <% end %>
  <%
    path = "admin/communication/websites/pages/show/special_pages/#{@page.type_key}"
    # https://api.rubyonrails.org/v7.1.3.4/classes/ActionView/LookupContext/ViewPaths.html#method-i-exists-3F
    # il faut envoyer un tableau vide, qui est la valeur par défaut, pour mettre le troisième argument `partial` à true
    exists = lookup_context.exists? path, [], true
  %>
  <% if exists %>
    <div class="row">
      <div class="offset-lg-4 col-lg-8">
        <%= render path %>
      </div>
    </div>
  <% end %>
<% end %>