.navbar
    margin-bottom: 100px
    .navbar-brand
        img
            max-width: 100px

footer
    margin-top: 100px

.alert
    padding: .95rem
    &-danger
        color: #82322F

h1
    border-bottom: 1px solid
    border-top: 1px solid
    height: 100%
    min-height: 160px
    padding-top: 50px

.breadcrumb
    font-size: 14px
    padding-bottom: 50px
